<div class="chart-area">
    <div class="chart-area-inner">
        {{#each list}}
        <div class="chart-item" data-text="{{text}}" data-index="{{index}}">
            <div class="chart-item-stack value-{{ value }}" />
            <h3 class="chart-item-title">{{title}}</h3>
        </div>
        {{/each}}
    </div>
</div>
<div class="chart-title">{{ head.title }}</div>