/*********************
FULL SCREEN CLASSES
*********************/
.full-screen {
  padding-top: 0 !important;

  .article-header{
    padding: 0 $global-padding;
    display: none;
  }

  .entry-content{
    >*{

    }
  }
  
  .entry-content{
    >p, >h1, >h2, >h3, >h4, >h5, >ul:not(.wp-block-gallery){
      padding: 0 $global-padding;
    }
  }
  .image-box {
    p {
      margin: 0;
    }
  }
  .grid-row {
    @include large-up {
      max-width: $global-width;
      margin: 50px auto;
      overflow: hidden;
    }
    .image-box {
      @include large-up {
        //margin-bottom: 1rem;
      }
    }
    .text-box {
      @include medium-down {
      }
    }
  }
}