.content-text{
    .entry-content{
        text-align: center;

        h1, h2, h3, h4, h5, h6{
            margin: 2em 0 1em 0;
            &:first-child{
                margin-top: 1em;
            }
        }

        h1 {
            font-size: 3rem;
            @include large-up {
                font-size: 5rem;
            }
        }
        h2 {
            font-size: 2.2rem;
            @include large-up {
                font-size: 4rem;
            }
        }
        h3 {
            font-size: 1.8rem;
            @include large-up {
                font-size: 3rem;
            }
        }
        h4 {
            font-size: 1.6rem;
            @include large-up {
                font-size: 2rem;
            }
        }
        h5 {
            font-size: 1.4rem;
            @include large-up {
                font-size: 1.8rem;
            }
        }
        h6 {
            font-size: 1.2rem;
            @include large-up {
                font-size: 1.6rem;
            }
        }

        p{
            margin-left: auto;
            margin-right: auto;
        }
        p, li{
            font-size: 1.2rem;
        }
        >ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                &:before{
                    font-family: $font-icon;
                    content: $font-icon-space-station;
                    margin-right: 10px;
                    font-size: 0.8rem;
                    display: inline-block;
                    color: $primary-color;
                }
            }
        }
    }
}