.profile{
  overflow: hidden;
  margin: 1rem 0 3rem 0;
  .image-box{
    margin-bottom: 1rem;
    @include medium-up {
      float: left;
      max-width: 32%;
      margin-right: 3%;
    }
    br{
      display: none;
    }
    img{
      display: block;
    }
    img:last-child{
      display: none;
    }
    &:hover{
      img{
        display: none;
      }
      img:last-child{
        display: block;
      }
    }
  }
  .text{
    text-align: left;
    header{
      h1{
        margin: 0;
      }
    }
    @include medium-up {
      width: 65%;
      float: right;
    }
  }
}