//STARTPAGE
body.home {
  #content-wrapper {
    padding-top: 0 !important;
  }
  #breadcrumbs {
    display: none;
  }

  #main {
    .article-header {
      display: none;
    }
    .entry-content {
      //EACH BLOCK
      > div {
      }
      > p {
        text-align: center;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
      }

      h1 {
        @include large-up {
          font-size: 4rem;
        }
      }
      h2 {
        @include large-up {
          font-size: 3rem;
        }
      }
      h3 {
        @include large-up {
          font-size: 2.2rem;
        }
      }
      h4 {
        @include large-up {
          font-size: 1.8rem;
        }
      }
    }
    .start-header,
    .page-title {
      text-align: center;
      margin: 2rem 0 2rem 0;
    }
  }
  .footer {
    margin-top: 0;
  }
}

html:not(.scrolling) {
  body.home {
    #header,
    #nav-desktop {
      transition: all $slowDuration;
      background: $start-header-background;
    }
    #header .custom-logo-link {
      img:first-child {
        display: none !important;
      }
      img.white-logo {
        display: block !important;
      }
    }
    #header {
      .icon {
        color: $start-header-color;
      }
    }

    #nav-desktop {
      ul.main-menu > li > a {
        color: $start-header-color;
        font-weight: $font-weight-bold;
      }
    }
  }
}
