/**
 * Single Product
 */
.single-product {
  #primary {
    @extend .inner;
  }

  div.product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include large-up {
      flex-direction: row;
      justify-content: space-between;
    }
    .onsale {
    }

    .woocommerce-product-gallery {
      padding: 1rem 0 0;
      width: 100%;
      @include large-up {
        width: 50%;
        padding: 2rem 0 3rem;
      }
    }
    .summary {
      padding: 1.5rem 0 2rem;
      width: 100%;
      @include large-up {
        width: 45%;
        padding: 2rem 0 3rem;
      }

      //TITLE
      .entry-title {
        margin: 0 0 1rem 0;
      }

      //RATING
      .woocommerce-product-rating {
        margin-bottom: 0.5em;
        @include clearfix;
        line-height: 1;
        border-bottom: 1px solid $border-color;
        padding: 0 0 1.618em;
        margin-top: -0.618em;

        a {
          font-size: 0.857em;
        }

        .star-rating {
          float: right;
        }
      }

      //PRICE
      .price {
        justify-content: flex-start;
        margin: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        ins {
        }
        del {
          font-size: 1rem;
          font-weight: $font-weight-normal;
        }
      }

      //SHORT DESCRIPTION
      .short-description {
        clear: both;
        ul {
          margin-left: 1.8em;
        }
      }

      //ADD TO CART
      form.cart {
        @include clearfix;
        margin-bottom: 0;
        padding: 1em 0;
        border-top: 2px solid rgba(0, 0, 0, 0.025);
        border-bottom: 2px solid rgba(0, 0, 0, 0.025);
        .variations_button {
          display: flex;
          justify-content: space-between;
        }
        .quantity {
          width: 18%;
          display: inline-block;
          .screen-reader-text {
            display: none;
          }
          input {
            width: 100%;
            height: 50px !important;
            max-width: 100%;
          }
        }
        .button {
          width: 80%;
          display: inline-block;
          height: 50px;
        }
      }

      //VARIATIONS
      table.variations {
        margin: 0;
        width: 100%;
        tr {
          display: block;
          margin: 0 0 1rem 0;
        }
        th,
        td {
          display: list-item;
          padding: 0;
          list-style: none;
          background-color: transparent;
        }

        .value {
          margin-bottom: 0.5em;
        }
      }

      //VARIATIONS
      .variations_form {
        select {
          width: 100%;
          height: 40px;
          padding: 0 0.5rem;
          &.error {
            border-color: red;
          }
        }
        .reset_variations {
          margin-top: 0.5rem;
          margin-left: 0;
        }
      }

      .single_variation {
        .price {
        }
      }

      .variations_button {
        @include clearfix;
        padding-top: 0.5em;
      }

      //UNDER BUTTON USP
      .product-usp {
        border-bottom: 2px solid rgba(0, 0, 0, 0.025);
        margin-bottom: 1rem;
        float: none;
        ul {
          display: flex;
          justify-content: center;
          padding: 0.5rem 0;
          list-style-type: none;
          margin: 0;
          li:not(:last-child) {
            margin-right: 1.5rem;
          }
        }
      }
      .under-product-button {
        display: block;
        img {
          margin: 0 auto;
        }
      }
      .product_meta {
        display: none;
        font-size: 0.857em;
        .sku_wrapper,
        .posted_in,
        .tagged_as {
          border-bottom: 1px dotted $border-color;
          display: block;
          padding: 0.53em 0;

          &:last-child {
            border-bottom: 0;
          }
        }
        .sku_wrapper {
        }
        .posted_in {
        }
      }
    }
  }
}

#product-slider {
  .slick-slide {
    margin: 0;
  }
  .slick-dots {
    text-align: right;
  }
}

.under-product-button {
  display: none;
}
.stock {
  margin: 0;
  &:before {
    font-family: $font-icon;
    margin-right: 0.5rem;
  }

  &.in-stock {
    &:before {
      color: $success-color;
      content: $font-icon-check;
    }
  }

  &.out-of-stock {
    &:before {
      color: $warning-color;
      content: $font-icon-delete;
    }
  }
}

a.reset_variations {
  //display: inline-block;
  margin-left: 1em;
  display: none !important;
  &:before {
    font-family: $font-icon;
    content: "\f021";
    font-weight: 400;
    margin-right: 0.53em;
  }
}

// SCROLL TO BUY BUTTON BUTTON
.product-scroll-button {
  margin-top: 35px;
  width: 100%;
  background: #006c9b;
  border-color: #006c9b;
  text-align: center;
  @include large-up {
    width: 20%;
  }
}
