//FULL PAGE HEADER
.page-header-full-wrapper {
  background: $primary-color;
  .page-header-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: $global-width;
    padding: 1rem $global-padding;
    margin: 0 auto;
    @include large-up {
      flex-direction: row;
      padding: 3% $global-padding;
    }
  }
  .page-header-image {
    flex-basis: 40%;
    img {
    }
  }
  .page-header-title {
    flex-basis: 100%;
    text-align: center;
    padding: 0;
    @include large-up {
      padding: 0;
    }
    h1.page-title {
      color: white;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      @include large-up {
        font-size: 3rem;
      }
    }
    @include fadeInUp;
  }
  &.has-image {
    .page-header-title {
      @include medium-down {
        padding: 1rem 0 0 0;
      }
    }
  }
}

//STANDARD PAGE HEADER
.page-header-wrapper {
  .page-header-image {
    flex-basis: 40%;
    img {
    }
  }
  .page-header-title {
    flex-basis: 100%;
    h1.page-title {
      margin: 0.5rem 0 1.5rem;
      @include large-up {
        margin: 1.5rem 0 2.5rem;
      }
    }
  }
}

body.page:not(.home) {
  #main {
    //STANDARD HEADER
    .article-header {
      margin: 0.5rem 0 0.8rem;
      @include medium-up {
        margin: 1rem 0 1.66rem;
      }
    }
  }
}

#content.page-background {
  background: $primary-color;
  padding-bottom: 5%;
  .page-header-full {
    background: transparent;
  }
  .inner {
    @include small-down {
      padding: 0 0.5rem;
    }
  }
}
