#content-not-found{
    text-align: center;
}

#menu-404{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    >ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >li{
            margin: 5px;
            >a{
                display: block;
                padding: 0.5rem 1rem;
                color: $button-color;
                background: $button-background;
            }
        }
    }   
}