/**
 * Checkout
 */

body.woocommerce-checkout {
  .woocommerce-breadcrumb {
    display: none;
  }
  .page-header-wrapper .page-header-inner,
  #content .inner {
    max-width: 960px !important;
  }
  input {
    margin: 0;
    max-width: none;
  }
}

.checkout_coupon {
  margin-bottom: 2.618em;
}

form.checkout {
  @include clearfix;
}

.woocommerce-NoticeGroup {
  margin-top: 2rem;
}

.woocommerce-billing-fields {
  .form-row {
    label {
      abbr.required {
        border-bottom: none;
      }
    }
    &.validate-required {
    }
  }
}

#billing_first_name_field {
}
#billing_last_name_field {
}
#billing_company_field {
}
#billing_email_field {
}
#billing_phone_field {
}
#billing_country_field {
}
#billing_address_1_field {
}
#billing_address_2_field {
}
#billing_postcode_field {
}
#billing_city_field {
}
#billing_state_field {
}

//COUNTRY SELECTOR
.select2-container--default .select2-selection--single {
  background-color: white;
  border: $forms-input-border;
  border-radius: $global-radius;
  height: 3rem;
  display: block;
  > span {
    height: 3rem !important;
    line-height: 3rem !important;
  }
}

.woocommerce-additional-fields {
  margin: 2rem 0;
}

.woocommerce-shipping-fields {
}

//SUB HEADERS
#order_review_heading,
.shipping th,
.payment-header {
  font-size: 1.5rem;
}

.woocommerce-checkout-review-order-table {
  display: block;
  width: 100%;
  thead,
  tbody,
  tfoot {
    display: block;
  }
  tr {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
    &.cart_item {
      border-bottom: 1px solid $border-color;
      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
  }
  .shipping {
    margin-top: 1rem;
    flex-direction: column;
    th {
      text-align: left;
      margin-bottom: 0.5rem;
    }
  }
  .order-total {
    padding-top: 0;
    font-size: 1.1rem;
  }
}

//SHIPPING & PAYMENT BUTTONS
#shipping_method,
.payment_methods {
  margin: 0;
  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.7rem;
    background: $light-gray;
    border: 1px solid #ddd;
    margin: 0 0 0.5rem 0;
    border-radius: 5px;
    label {
      margin-left: 0.5rem;
      img {
        margin: 0 0.5rem;
      }
    }
    input[type="radio"]:checked + label {
      font-weight: $font-weight-bold;
    }
  }
  &:has(input[type="radio"]:checked) {
    border-color: #555;
  }
}

//PAYMENT
.payment-header {
  margin-top: 1.5rem;
}
.payment_methods {
  margin-top: 0.5rem;
  li {
    flex-wrap: wrap;
    label {
      width: 80%;
      cursor: pointer;
    }
    .payment_box {
      margin-top: 0.5rem;
      width: 100%;
      font-size: 0.9rem;
      p {
        margin: 0;
      }
    }
  }
}

.place-order {
  margin: 3rem 0 4rem;
  width: 100%;
  .button {
    font-size: 1.2rem;
    width: 100%;
    white-space: pre-wrap;
  }
}

.woocommerce-checkout {
  .payment-fixed {
    position: fixed;
    top: 0;
    z-index: 9;
  }
}

.admin-bar {
  .woocommerce-checkout {
    .payment-fixed {
      top: 32px;
    }
  }
}
