body.archive.woocommerce-page {
  #primary {
    @extend .inner;

    //HEADER
    .woocommerce-products-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h1.page-title {
        width: 100%;
        margin: 0.5rem 0 1rem;
        @include medium-up {
          margin: 1rem 0 2rem;
        }
      }
      .category-image {
        @include medium-up {
          width: 30%;
        }
      }
      .term-description {
        padding: 1rem 0;
        @include medium-up {
          width: 68%;
        }
      }
    }
  }
}

.count-ordering-wrapper {
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  .woocommerce-result-count {
    margin: 0;
  }
  .woocommerce-ordering {
    select {
    }
  }
}

.woocommerce-pagination {
  position: relative;
  padding: 0.5rem 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      a,
      span {
        padding: 0 0.5rem;
        display: inline-block;
        width: 20px;
        text-align: center;
      }
      span {
      }
      a.next,
      a.prev {
        font-size: 0;
        position: absolute;
        top: 0.5rem;
        padding: 0;
        &:after {
          content: $font-icon-right;
          font-family: $font-icon;
          font-size: $font-icon-size;
        }
      }
      a.next {
        right: 0;
      }
      a.prev {
        left: 0;
        &:after {
          content: $font-icon-left;
        }
      }
    }
  }
}

/**
 * Products
 */
ul.products {
  margin-left: 0;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  li.product {
    list-style: none;
    text-align: center;
    position: relative;
    order: 1;
    margin-bottom: add-unit($product-margin-right, "%");
    > a {
      display: flex;
      flex-direction: column;
      align-self: stretch;
    }
    .star-rating {
      margin: 0 auto 0.8em;
    }

    img {
      display: block;
      margin: 0 auto 1.618em;
    }

    h2 {
      font-size: 1.1em;
      margin: 0 0 0.2em;
    }

    .star-rating {
    }

    .price {
      ins {
      }
    }

    &.product-category {
      img {
        margin-bottom: 1.618em;
      }
    }

    .button {
      //display: none;
      margin-bottom: 0.236em;
    }
  }
}

.woocommerce-info {
  margin-top: 2rem;
}

@include medium-down {
  @include calculate-item-width(
    $product-list-small,
    $product-margin-right,
    $product-margin-bottom,
    $product-selector
  );
}
@include medium-only {
  @include calculate-item-width(
    $product-list-medium,
    $product-margin-right,
    $product-margin-bottom,
    $product-selector
  );
}
@include large-up {
  @include calculate-item-width(
    $product-list-large,
    $product-margin-right,
    $product-margin-bottom,
    $product-selector
  );
}
