/*
page-my-pages.scss
 *
 */

//LOGIN
.woocommerce-form-login {
  max-width: 500px;
  .woocommerce-form-row {
  }
  .button {
    float: right;
  }
}

//NAVIGATION
.woocommerce-MyAccount-navigation {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    @include medium-up {
      border-bottom: 1px solid #ddd;
    }
    li {
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
      > a {
        display: block;
        padding: 0.4rem 0.5rem;
        background: #eee;
        border: 1px solid #ddd;
        margin-bottom: 0.5rem;
        @include medium-up {
          padding: 0.5rem 1rem;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
      &.is-active {
        @include medium-up {
          position: relative;
          top: 1px;
        }
        > a {
          background: white;
        }
      }
    }
  }
}

//CONTENT
.woocommerce-MyAccount-content {
  a.edit {
    display: inline-block;
    padding: 5px 10px;
    background: $button-background;
    color: $button-color;
    margin-bottom: 5px;
  }
}

//ORDERS
.woocommerce-MyAccount-orders {
  width: 100%;
  text-align: left;
  th:last-child,
  td:last-child {
    text-align: right;
  }
  a.button.view {
    line-height: 30px !important;
    height: 30px;
    font-size: 0.8rem;
    padding: 0 1rem;
  }
  tr {
    //display: flex;
    @include small-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 0;
      &:first-child {
        border-top: 1px solid $border-color;
      }
      td {
        width: 50%;
        padding: 0.2rem 0;
      }
      td:nth-of-type(-n + 3) {
        width: 33.33%;
      }
      td:nth-of-type(3) {
        text-align: right;
      }
    }
  }
  thead {
    @include small-down {
      display: none;
    }
  }
  tbody {
    tr {
    }
  }
}
