//ARCHIVE PROJECT
body.post-type-archive-project {
}

.project-container {
}

ul.category-list {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  margin: 0 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
  li {
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid $border-color;
    &:not(:last-child){
      border-right: 1px solid $border-color;
    }
    a {
      margin: 0 0;
      display: block;
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: 0.8rem;
      @include large-up{
        font-size: 1rem;
      }
      &.selected {
        //background: $light-gray;
        background: $secondary-color-dark;
        color: $white;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        a {
        }
      }
    }
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  > article {
    .project-inner {
      margin: 0;
      text-align: left;
      overflow: hidden;
      position: relative;
      .project-featured-img-link {
        display: block;
        position: relative;
        padding-top: 100%;
        &:after{
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          content: " ";
          background: rgb(255,255,255);
          background: linear-gradient(180deg, rgba(0,0,0,0) 0%,  rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.8) 100%);
        }
        img.attachment-project-featured-img {
          position: absolute;
          margin: 0 auto;
          max-width: none;
          max-height: 100%;
          top: 0;
          bottom: 0;
          height: 100%;
          width: auto;
        }
      }
      .project-text{
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $white;
        padding: 1rem;
        @include medium-up{
          padding: 2rem;
        }
        h3.project-title a{
          color: $white;
        }
        .category-links{
          display: none;
          a{
            color: $white;
          }
        }
        .project-preview{
          p{
            color: $white;
            line-height: 1;
          }
        }
      }
    }
  }
}

.project-read-more{
  padding: 0.5rem 1.5rem;
  background: rgba(255,255,255, 0.1);
  display: inline-block;
  color: $white;
}

@include small-down {
  @include calculate-item-width(
    $project-list-small,
    $project-margin-right,
    $project-selector,
    $project-margin-bottom
  );
}
@include medium-only {
  @include calculate-item-width(
    $project-list-medium,
    $project-margin-right,
    $project-selector,
    $project-margin-bottom
  );
}
@include large-up {
  @include calculate-item-width(
    $project-list-large,
    $project-margin-right,
    $project-selector,
    $project-margin-bottom
  );
}

.category-links {
  display: flex;
  margin: 0.5rem 0;
  > a:not(:first-child) {
    &:before {
      content: "/";
      margin: 0 2px;
    }
  }
}

//SINGLE PROJECT
body.single-project {
  .project-header {
    .header-image {
      //display: none;
    }
  }
  .project-cta {
    text-align: center;
    margin: 2rem 0;
  }
}

//SINGLE
body.single-project {
  #main {
    article {
      header.project-header {
        padding-top: $global-padding;
        padding-bottom: $global-padding;
        background: $primary-color;
        @include medium-up {
          padding-top: 2%;
          padding-bottom: 2%;
        }
        .project-header-inner {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          padding: 0 $global-padding;
          @include large-up {
            padding: 0 $global-padding-large;
          }
          //max-width: $global-width;
          @include medium-up {
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .header-image {
          @include medium-up {
            flex-basis: 40%;
          }
          img {
            width: 100%;
          }
        }
        .header-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 1rem;
          text-align: center;
          width: 100%;
          .header-inner {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            @include medium-down {
              padding: 4% 0;
              height: 100%;
            }
          }
          h1,
          a,
          .subname {
            color: $white;
          }
          h1 {
            font-weight: $global-weight-light;
            font-size: $h1-font-size - $h1-font-reduction;
            @include medium-up {
              font-size: 3.6rem;
            }
          }
          .category-links {
            a {
              margin-bottom: 5px;
              font-weight: $global-weight-bold;
              display: block;
              text-align: center;
              font-size: $h4-font-size - $h4-font-reduction;
              @include medium-up {
                font-size: 1.2rem;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .project-content {
        margin: 4% auto 0;
        > * {
        }
      }
      .project-meta {
        display: none;
        > h3 {
          border-bottom: 1px solid #ddd;
          padding-bottom: 0px;
          margin: 20px 0;
          &:first-child {
            margin-top: 0;
          }
        }
        .category-links {
          //display: block;
          a {
            margin-bottom: 5px;
            display: inline-block;
            margin-left: 3px;
            padding: 5px 10px;
            background: #eee;
            &:first-child {
              margin-left: 0;
            }
            &:after {
              content: "";
            }
          }
        }
      }
      #comments {
        display: none;
      }
      .social-sharing {
        margin: 30px 0;
      }
    }
  }
  .gallery-item {
    width: 50%;
  }
}
