/*********************
POSTS & CONTENT STYLES
*********************/

//BLOG
body.blog,
body.archive:not(.post-type-archive-project) {
  h1.page-title {
    margin: 20px 0 30px;
    @include large-up {
      margin: 35px 0 55px;
    }
  }

  #main {
    padding-top: 1rem;
    @include large-up {
      padding-top: 3rem;
    }
    overflow: hidden;
  }

  article.post {
    margin-bottom: 40px;
    overflow: hidden;
    clear: both;
    @include large-up {
      margin-bottom: 60px;
    }
  }

  //HEADER
  .article-header {
    h2 {
      @include large-up {
        width: 80%;
        float: right;
      }
    }
  }

  // POST META
  .article-meta {
    @include large-up {
      width: 17%;
      margin-right: 3%;
      float: left;
      padding-right: 40px;
      border-right: 1px solid $border-color;
      > span {
        display: block;
        float: right;
        clear: both;
        margin: 0 0 0 0;
        font-size: 85%;
        text-align: right;
        &.author {
          text-align: center;
          font-size: 1em;
          font-weight: bold;
          position: relative;
          a:before {
            content: none;
          }
          a > span {
            @include large-up {
              display: block;
            }
          }
          img {
            display: block;
            margin-bottom: 5px;
            @include large-up {
              float: right;
            }
          }
          &:after {
            font-family: $font-icon;
            content: "\f105";
            font-size: 14px;
            position: absolute;
            right: -25px;
            top: 8px;
          }
        }
        &.categories-links {
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            li {
              &:not(:first-child) {
                margin-left: 5px;
              }
            }
          }
        }
        &:last-child {
        }
      }
    }
    @include medium-down {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      padding: 5px;
      .author {
        img {
          width: 30px;
        }
        span {
        }
      }
      .date {
      }
      .categories-links {
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          height: 100%;
          li {
            &:not(:last-child):after {
              content: "/";
              margin: 0 2px;
            }
          }
        }
      }
      .date,
      .categories-links,
      .author span {
        margin-left: 5px;
        background: #f5f5f5;
        padding: 0 10px;
        display: inline-block;
        line-height: 31px;
        height: 31px;
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
  }

  // CONTENT
  .entry-content {
    margin-top: 15px;
    @include large-up {
      width: 80%;
      float: right;
    }
    .article-thumbnail {
      max-width: 200px;
      float: left;
      display: block;
      margin: 0 10px 10px 0;
      @include small-only {
        max-width: 100%;
        float: none;
      }
      img {
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }

    .alignleft,
    img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left;
    }
    .alignright,
    img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right;
    }
    .aligncenter,
    img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both;
    }

    video,
    object {
      max-width: 100%;
      height: auto;
    }

    pre {
      background: #eee;
      border: 1px solid #cecece;
      padding: 10px;
    }
    h2 {
      margin: 3rem 0 1rem;
    }
    h3 {
      margin: 2rem 0 0.667rem;
    }
    h4 {
      margin: 1rem 0 0.5rem;
    }
  }
}

//SINGLE
body.single-post {
  //HEADER
  .article-header {
    .entry-title {
      margin: 15px 0 10px;
      @include large-up {
        margin: 25px 0 10px;
      }
    }
  }

  // POST META
  .article-meta {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    padding: 5px;
    .author {
      img {
        width: 30px;
      }
      span {
        margin-left: 4px;
      }
    }
    .date {
    }
    .categories-links {
    }
    .date,
    .categories-links,
    .author span {
      margin-left: 5px;
      background: $light-gray;
      padding: 0 10px;
      display: inline-block;
      line-height: 31px;
      height: 31px;
      font-size: 12px;
    }
  }

  //CONTENT
  .entry-content {
    margin-top: 5px;
    .wp-post-image {
      margin-bottom: 1rem;
    }
  }
}

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;

  // Images inside wp-caption
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
  @include button;
}
