body.woocommerce-order-received {
  .woocommerce-order {
    ul.woocommerce-order-overview {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 1rem;
      background: $light-gray;
      list-style-type: none;
      width: 100%;
      max-width: 400px;
      li {
        display: flex;
        justify-content: space-between;
        strong {
          width: 50%;
          text-align: left;
        }
      }
    }
    > p {
      margin-top: 0.5rem;
    }
    h2 {
      border-top: 1px solid $border-color;
      padding-top: 1rem;
      margin-top: 1rem;
    }
    .woocommerce-order-details {
      > table {
        display: block;
        thead,
        tbody,
        tfoot {
          display: block;
        }
        tr {
          display: flex;
          justify-content: space-between;
          padding: 0.1rem 0;
          &.order-item {
            border-bottom: 1px solid $border-color;
            &:first-child {
              border-top: 1px solid $border-color;
            }
          }
        }
      }
    }
  }
}
