/**
 * Cart
 */
.woocommerce-cart {
  .woocommerce-breadcrumb {
    display: none;
  }
  .entry-header {
    margin-top: 1em;
    .entry-title {
    }
  }
}
table.cart {
  width: 100%;
  margin-bottom: 2rem;
  thead {
    display: none;
    @include large-up {
      display: block;
      tr {
        padding: 0 0.5rem;
        .product-thumbnail {
          display: none;
        }
        .product-name {
          width: 80%;
          padding: 0;
        }
      }
    }
  }
  tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
    position: relative;
    clear: both;
    overflow: hidden;
    @include large-up {
      //justify-content: space-between;
    }
    &.cart_item {
      border-bottom: 1px solid $border-color;
      &:first-child {
        border-top: 1px solid $border-color;
      }
    }
    .product-thumbnail {
      width: 25%;
      margin-bottom: 1rem;
      @include large-up {
        width: 10%;
        margin-bottom: 0;
      }
    }
    .product-name {
      width: 75%;
      padding: 0 2rem 0 1rem;
      margin-bottom: 1rem;
      text-align: left;
      @include large-up {
        width: 70%;
        margin-bottom: 0;
      }
    }
    .product-price,
    .product-quantity,
    .product-subtotal,
    .product-remove {
      text-align: left;
      @include large-up {
        text-align: right;
      }
    }
    .product-quantity {
      order: 2;
      width: 80px;
      input {
        margin: 0 0 0 0;
        padding: 0.5rem;
        height: auto;
      }
      @include large-up {
        width: 8%;
      }
    }
    .product-price {
      order: 1;
      font-weight: $font-weight-bold;
      padding-right: 1rem;
      @include large-up {
        padding-right: 2rem;
        width: 9%;
      }
    }
    .product-subtotal {
      display: none;
      @include large-up {
      }
    }
    .product-remove {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      @include large-up {
        position: static;
        order: 4;
        width: 3%;
      }
      a {
        color: $dark-gray;
      }
    }

    td.actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include xsmall-only {
        flex-direction: column;
      }
      > .coupon {
        > button {
          @include button("secondary");
        }
        > label {
          text-decoration: underline;
          cursor: pointer;
          margin-bottom: 0.5rem;
        }
        > input,
        > button {
          display: none;
        }
      }
      > .button {
        @include button("secondary");
        margin-top: 0.5rem;
      }
    }
  }
}

.cart-collaterals {
  display: flex;
  justify-content: flex-end;
  .cart_totals {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid $border-color;
    border-radius: $global-radius;
    @include large-up {
      width: 30%;
    }
  }
  table,
  tbody {
    display: block;
  }
  table {
    width: 100%;
    tbody {
      tr {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        td {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.wc-proceed-to-checkout {
  margin-top: 1rem;
  .button {
    display: block;
    text-align: center;
    &.checkout-button {
      font-size: 1.2rem;
    }
  }
}

ul#shipping_method {
  margin: 0;
  list-style: none;
}
