@keyframes scale {
  50% {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
  }
}

@keyframes greyscale-fade-in {
  0%   { -webkit-filter: grayscale(100%); }
  100% { -webkit-filter: grayscale(0%); }
}

@keyframes sepiascale-fade-in {
  0%   { -webkit-filter: sepia(100%); }
  100% { -webkit-filter: sepia(0%); }
}