@import "we-chart-settings";
@import "we-chart-mixins";

.chart-container {
  background: $chart-container-background;
  //height: 100%;
  padding: 5% 10%;
  transition: all 0.5s;
  opacity: 0;
  @include small-down {
    padding: 5% 5%;
  }
  .chart-title {
    margin: 0;
    color: $chart-text-color;
    font-style: italic;
    font-size: 1rem;
    height: 65px;
    overflow: hidden;
  }
  &.no-background {
    padding: 0 0;
    background: transparent;
  }
  &.margin {
    margin-top: 2rem;
  }
}

.chart-area {
  margin-top: 1rem;
  &:after {
    content: " ";
    display: block;
    width: 100%;
    border-bottom: $chart-area-border;
    position: relative;
    top: -$chart-item-top-adjust;
  }
  .chart-area-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    align-items: flex-end;
    .chart-item {
      height: 100%;
      position: relative;
      //top: $chart-item-top-adjust;
      align-items: flex-end;
      display: flex;
      cursor: pointer;
      padding-bottom: $chart-item-top-adjust;
      .chart-item-stack {
        width: $chart-item-width;
        height: 100%;
        background: $chart-item-color;
        transition: all 0.3s;
        &.value-1 {
          height: 10%;
        }
        @for $i from 1 through 10 {
          &.value-#{$i} {
            height: ($i * 10%);
          }
        }
      }
      .chart-item-title {
        margin: 0;
        position: absolute;
        bottom: 0;
        color: $chart-item-title-color;
        //font-weight: $global-weight-bold;
        font-size: 1rem;
        word-break: keep-all;
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: $chart-item-title-border;
        transition: all 0.3s;
        @include medium-down {
          font-size: 0.8rem;
        }
      }
      &:hover {
        .chart-item-stack {
          box-shadow: 0 0 5px $chart-item-hover-color;
        }
      }
      &.selected {
        .chart-item-title {
          color: $chart-item-selected-title-color;
          border-color: $chart-item-selected-border-color;
        }
      }
    }
  }
}

.chart-names {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  > div {
    width: $chart-item-width;
    .chart-item-title {
      color: $chart-text-color;
      font-size: 1rem;
      word-break: keep-all;
      display: inline-block;
    }
  }
}
