$chart-container-background: transparent;
$chart-area-border: 6px solid $background-dark-color;
$chart-item-color: $background-dark-color2;
$chart-item-hover-color: $secondary-color;   
$chart-item-width: 36px;
$chart-text-color: $body-font-color;
$chart-item-title-color: $chart-text-color;
$chart-item-title-border: 3px solid transparent;
$chart-item-selected-border-color: $primary-color;
$chart-item-selected-title-color: $primary-color;
$chart-item-top-adjust: 50px;
