body.home {
  #main-wrapper {
    transition: opacity 0.5s;
    //opacity: 0;
  }
  &.show #main-wrapper {
    opacity: 1;
  }
}

#landing-html {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  #landing-images {
    .landing-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #222;
      background-size: cover;
      background-position: center center;
      animation: scale 20s linear infinite;
    }
  }
  #landing-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }
}
