
@mixin calculate-item-width($total-items, $margin-right, $selector, $margin-bottom: null) {
  $extra-width: ($margin-right / $total-items);
  $value: decimal-round((100 / $total-items) - $margin-right + $extra-width, 2, "floor");
  $nth: ($total-items) + "n+0";
  // Output
  #{$selector} {
    width: add-unit($value, "%");
    margin-right: add-unit($margin-right, "%");
    @if $margin-bottom != null {
      margin-bottom: add-unit($margin-bottom, "%");
    }
  }
  #{$selector}:nth-of-type(#{$nth}) {
    margin-right: 0;
  }
}

// Dynamic image layout
@mixin autosize-image-container ($vertical-ratio) {
  position: relative;
  padding-top: $vertical-ratio;
  display: block;

  img {
    position: absolute;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@function add-unit($string,$unit){
  $unit: unquote($unit);
  @return $string + $unit;
}

// Rounding function: https://gist.github.com/terkel/4373420
@function decimal-round ($number, $digits: 0, $mode: round) {
  $n: 1;
  // $number must be a number
  @if type-of($number) != number {
    @warn '#{$number} is not a number.';
    @return $number;
  }
  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{$digits} is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{$digits} has a unit.';
    @return $number;
  }
  @for $i from 1 through $digits {
    $n: $n * 10;
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{$mode} is undefined keyword.';
    @return $number;
  }
}

@function decimal-ceil ($number, $digits: 0) {
  @return decimal-round($number, $digits, ceil);
}

@function decimal-floor ($number, $digits: 0) {
  @return decimal-round($number, $digits, floor);
}