
$breakpoint-small-min:      rem-calc($breakpoint-small);
$breakpoint-medium-min:     rem-calc($breakpoint-medium);
$breakpoint-large-min:      rem-calc($breakpoint-large);
$breakpoint-xlarge-min:     rem-calc($breakpoint-xlarge);
$breakpoint-xxlarge-min:    rem-calc($breakpoint-xxlarge);

$breakpoint-xsmall-max:     rem-calc($breakpoint-small - 1);
$breakpoint-small-max:      rem-calc($breakpoint-medium - 1);
$breakpoint-medium-max:     rem-calc($breakpoint-large - 1);
$breakpoint-large-max:      rem-calc($breakpoint-xlarge - 1);
$breakpoint-xlarge-max:     rem-calc($breakpoint-xxlarge - 1);

@mixin xsmall-only {
  @media only screen and (max-width: #{$breakpoint-xsmall-max}) {
    @content;
  }
}
@mixin small-down {
  @media only screen and (max-width: #{$breakpoint-small-max}) {
    @content;
  }
}

@mixin small-only {
  @media only screen and (min-width: #{$breakpoint-small-min}) and (max-width: #{$breakpoint-small-max}) {
    @content;
  }
}

@mixin small-up {
  @media only screen and (min-width: #{$breakpoint-small-min}) {
    @content;
  }
}

@mixin medium-down {
  @media only screen and (max-width: #{$breakpoint-medium-max}) {
    @content;
  }
}

@mixin medium-only {
  @media only screen and (min-width: #{$breakpoint-medium-min}) and (max-width: #{$breakpoint-medium-max}) {
    @content;
  }
}

@mixin medium-up {
  @media only screen and (min-width: #{$breakpoint-medium-min}) {
    @content;
  }
}

@mixin large-down {
  @media only screen and (max-width: #{$breakpoint-large-max}) {
    @content;
  }
}

@mixin large-only {
  @media only screen and (min-width: #{$breakpoint-large-min}) and (max-width: #{$breakpoint-large-max}) {
    @content;
  }
}

@mixin large-up {
  @media only screen and (min-width: #{$breakpoint-large-min}) {
    @content;
  }
}

@mixin xlarge-down {
  @media only screen and (max-width: #{$breakpoint-xlarge-max}) {
    @content;
  }
}

@mixin xlarge-only {
  @media only screen and (min-width: #{$breakpoint-xlarge-min}) and (max-width: #{$breakpoint-xlarge-max}) {
    @content;
  }
}

@mixin xlarge-up {
  @media only screen and (min-width: #{$breakpoint-xlarge-min}) {
    @content;
  }
}

@mixin xxlarge-only {
  @media only screen and (min-width: #{$breakpoint-xxlarge-min}) {
    @content;
  }
}


@mixin retina {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}