//TOP BAR
$top-bar-background: $secondary-color;
$top-bar-color: $primary-color-dark;
$top-bar-font-size: 0.9rem;
$top-bar-icon-size: $font-icon-size;
$top-bar-height: 36px;
$top-bar-height-scroll: 30px;

// HEADER
$header-height: 60px;
$header-height-large: 80px;
$header-height-scroll: 50px;
$header-height-scroll-large: 60px;
$header-background: white;
$header-color: #333;
$header-border-bottom-thickness: 0;
$header-border-bottom: $header-border-bottom-thickness solid $border-color;
$header-border-bottom-scrolling: 1px solid $border-color;
$header-padding-top: 15px;
$header-padding-top-large: 0;
$header-padding-top-scroll: 10px;
$header-padding-top-scroll-large: 0;

//LOGO
$header-logo-fix: 0;
$header-logo-max-height: 30px;
$header-logo-max-height-large: 35px;
$header-logo-max-height-scroll: 28px;
$header-logo-max-height-scroll-large: 30px; 

//ICON
$header-menu-icon-size: $font-icon-size * 1.8;
$header-menu-icon-size-medium: $font-icon-size * 1.8;
$header-menu-icon-size-large: $font-icon-size * 1.8;

//NAV
$header-nav-desktop-margin: 0 0 0 0;

// MENU
$menu-font-family: $body-font-family;
$mobile-first: false;

//MENU DESKTOP
$dnav-background: none;
$dnav-height: 100%;
$dnav-level1-padding: 0 0;
$dnav-level1-background: transparent;
$dnav-level1-color: $body-font-color;
$dnav-level1-border: white;
$dnav-level1-font-weight: 800;
$dnav-level1-font-family: $header-font-family;
$dnav-level1-font-style: $header-font-style;
$dnav-level1-font-size: 1.2rem;
$dnav-level1-transform: uppercase;
$dnav-level1-letterspacing: 0px;
$dnav-level1-background-hover: white;
$dnav-level1-color-hover: lighten($dnav-level1-color, 5%);
$dnav-level1-background-active: $dnav-level1-background;
$dnav-level1-color-active: $primary-color;
$dnav-level1-border-active: $header-background;
$dnav-level1-font-weight-active: $dnav-level1-font-weight;
$dnav-level1-background-active-hover: $dnav-level1-background-active;
$dnav-level1-color-active-hover: $dnav-level1-color-active;
$dnav-level1-background-clicked: darken($header-background, 5%);
$dnav-level1-color-clicked: $dnav-level1-color;
$dnav-level1-border-clicked: darken($header-background, 10%);
$dnav-level1-font-weight-clicked: $dnav-level1-font-weight;
$dnav-level1-background-clicked-hover: lighten(
  $dnav-level1-background-active,
  5%
);
$dnav-level1-color-clicked-hover: lighten($dnav-level1-color-active, 5%);
$dnav-sub-background: white;
$dnav-sub-border: $border-color;
$dnav-sub-padding: 2rem;
$dnav-sub-title-color: #777;
$dnav-sub-title-background: #f5f5f5;
$dnav-sub-title-text-transform: uppercase;
$dnav-level2-background: transparent;
$dnav-level2-color: $body-font-color;
$dnav-level2-font-weight: 300;
$dnav-level2-transform: none;
$dnav-level2-letterspacing: -0.8px;
$dnav-level2-background-hover: white;
$dnav-level2-color-hover: lighten($dnav-level2-color, 5%);
$dnav-level2-background-active: $dnav-level2-background;
$dnav-level2-color-active: $primary-color;
$dnav-level2-font-weight-active: 300;
$dnav-level2-background-active-hover: $dnav-level2-background-active;
$dnav-level2-color-active-hover: lighten($dnav-level2-color-active, 5%);

// MENU MOBILE
$mnav-width: 100%;
$mnav-padding: 0%;
$mnav-background: none;
$mnav-secondary-background: $white;
$mnav-primary-background: $white;
$mnav-primary-color: $body-font-color;
$mnav-background-opacity: 1;
$mnav-close-icon-size: $font-icon-size * 1.8;
$mnav-close-icon-color: $mnav-primary-color;

$mnav-level1-font-size: 1.7rem;
$mnav-level1-font-size-large: 2rem;
$mnav-level1-height: 2em;
$mnav-level1-height-large: 2em;
$mnav-level1-color: $mnav-primary-color;
$mnav-level1-background: $mnav-primary-background;
$mnav-level1-border: none;
$mnav-level1-font-weight: normal;
$mnav-level1-text-transform: uppercase;
$mnav-level1-letter-spacing: 0;
$mnav-level2-color: $mnav-level1-color;
$mnav-level2-background: $mnav-level1-background;
$mnav-level2-font-weight: normal;
$mnav-level2-font-size: 1.4rem;
$mnav-level2-font-size-large: 1.6rem;
$mnav-level2-height: 2em;
$mnav-level2-height-large: 2em;
$mnav-level2-text-transform: none;
$mnav-level2-letter-spacing: 0;
$mnav-level3-color: $mnav-level1-color;
$mnav-level3-background: $mnav-level1-background;
$mnav-level3-font-weight: normal;
$mnav-level3-font-size: 1.4rem;
$mnav-level3-font-size-large: 1.6rem;
$mnav-level3-height: 2em;
$mnav-level3-height-large: 2em;
$mnav-level3-text-transform: none;
$mnav-level3-letter-spacing: 0;

$mnav-current-item-color: $primary-color;
$mnav-current-parent-color: $mnav-current-item-color;

// BREADCRUMBS
// ----------
$breadcrumbs-color: $anchor-color;
$breadcrumbs-font-size: $global-font-size;

// FOOTER
// ----------
$footer-background: $primary-color;
$footer-color: $body-font-color-secondary;
$footer-bottom-background: $body-font-color-secondary;
$footer-bottom-color: $primary-color;

// CONTENT
// ----------
$content-background: white;
$content-color: $body-font-color;
$content-text-padding: 10%;
$content-text-padding-large: 1rem 3rem;
$content-light-background: #f5f5f5;
$content-dark-background: $background-dark-color;
$content-dark-color: $white;

$block-media-text-padding: 15% $global-padding;
$block-media-text-padding-large: 15% 20%;

$image-padding-large: 8% 12%;

$text-box-background: $content-dark-background;
$text-box-light-background: $background-color2;
$service-block-background: $background-color;

$customer-color1: $color-3;
$customer-color2: $color-4;
$customer-color3: $secondary-color;
$customer-color4: $primary-color;

// BLOCKS
// ----------
$block-media-text-padding: 8% $global-padding;
$block-media-text-padding-large: 10% 15%;

$block-image-padding: 8% $global-padding;
$block-image-padding-medium: 8% $global-padding;
$block-image-padding-large: 8% $global-padding-large;

$block-image-background: $background-dark-color4;
$block-image-background-padding: 15% 20%;
$block-image-background-padding-large: 20% 25%;
$block-background: $secondary-color;
$block-background-light: $color-5;

$block-text-background: #333;
$block-text-background2: #555;
$block-text-background3: #444;
$block-text-background-light: #eee;

//GALLERY
$block-gallery-space: 5%;

//COLUMNS
$block-columns-space: 4%;
