//GRID ROW
$grid-row-margin: 2;

//GALLERY
$gallery-margin: 1;

//START PAGE
$start-header-color: #333;

// GLOBAL
// ---------
$global-font-size: 100%;
$global-width: rem-calc(1400);
$global-width-text: rem-calc(800);
$fullscreen-max-width: rem-calc(3000);
$global-lineheight: 1.5;

// COLORS
// --------------

/*$color-1: #0f2c22;
$color-2: #314643;
$color-3: #adc0be;
$color-4: #d1988b;
$color-5: #aa5b51;
$color-6: #e8cfbc;
$color-7: #fdd835;
$color-8: #152e4a;
$color-9: #639694;
*/

$primary-color: #B26FFC; //PRIMARY BUTTON & CALL TO ACTION
$secondary-color: #54FFDC; //BUTTON & LINKS

$primary-color-dark: darken($primary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$color-3: #0e0037;
$color-4: #1b0050;
$color-5: #f0eae7;

$background-color: #b3c7c5; //OLD quaternary
$background-color2: #f0eae7;

$background-dark-color: #334d4a; //OLD TERTIERY
$background-dark-color2: #639694;
$background-dark-color3: #fdd835;
$background-dark-color4: #152e4a;

$success-color: #21bc4b;
$warning-color: #ffae00;
$alert-color: #cc4b37;

$buy-trail: $primary-color;
$light-gray: #f5f5f5;
$medium-gray: #ccc;
$dark-gray: #aaa;
$black: #0a0a0a;
$white: #fff;
$gold: gold;
$discount: #ee2239;
$border-color: #eee;
$border-color-dark: #777;
$body-background: $white;
$body-font-color: #333;
$body-font-color-secondary: #2D1450;

$hallmark-border-color: $primary-color;

$global-margin: 1rem;
$global-margin-top: 3rem;
$global-margin-top-large: 4rem;
$global-padding: 1rem;
$global-padding-large: 4rem;
$global-weight-light: 300;
$global-weight-normal: 400;
$global-weight-bold: 600;
$global-radius: 3px;
$global-text-direction: ltr;
$global-flexbox: false;
$global-font-size: 16px;
$print-transparent-backgrounds: true;

// BREAKPOINTS
// --------------

$breakpoint-small: 400;
$breakpoint-medium: 640;
$breakpoint-large: 960;
$breakpoint-xlarge: 1200;
$breakpoint-xxlarge: 1440;

// GRID
// -----------
$grid-columns: 12 !default; // Set number of columns in the grid
$grid-gutter: 1% !default; // Set gutter size
$content-well-max-width: "none" !default; // Set the max-width of the content well

// TYPOGRAPHY
// ------------------
$body-font-family: futura-pt, sans-serif;
$body-antialiased: true;
$font-weight-normal: 400;
$font-weight-bold: 700;
$header-font-family: futura-pt-condensed, sans-serif;
$header-font-family2: $body-font-family;
$header-font-weight: 800;
$header-font-style: italic;
$header-font-transform: uppercase;
$header-letter-spacing: 0;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;
$header-color: inherit;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;

// We use these to control header font sizes
$h1-font-size: rem-calc(40);
$h2-font-size: rem-calc(30);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(14);
$h6-font-size: 1rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(4);
$h2-font-reduction: rem-calc(3);
$h3-font-reduction: rem-calc(2);
$h4-font-reduction: rem-calc(1);
$h5-font-reduction: 0;
$h6-font-reduction: 0;
$header-text-rendering: optimizeLegibility;
$small-font-size: 80%;
$header-small-font-color: $medium-gray;

// ICONS
// ------------------
$font-icon-size: 14px;

// PARAGRAPH
// ----------
$paragraph-font-family: $body-font-family;
$paragraph-font-size: 1rem;
$paragraph-lineheight: 1.8;
$paragraph-margin-bottom: 1rem;
$paragraph-text-rendering: optimizeLegibility;
$paragraph-letter-spacing: 0.3px;

// FORMS
// ------------------
$forms-input-border: 1px solid #ddd;
$forms-input-background: #fefefe;
$forms-input-font-size: 1rem;
$forms-input-font-weight: 400;
$forms-input-color: #0a0a0a;

// CODE STYLE
// ----------
$code-color: $black;
$code-font-family: $font-family-monospace;
$code-font-weight: $global-weight-normal;
$code-background: $light-gray;
$code-border: 1px solid $medium-gray;
$code-padding: rem-calc(2 5 1);
$code-block-padding: 1rem !default;
$code-block-margin-bottom: 1.5rem !default;

// ANCHOR LINKS
// ----------
$anchor-color: $body-font-color;
$anchor-color-hover: $secondary-color;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$anchor-font-weight: $global-weight-bold;

// HR
// ----------
$hr-width: $global-width;
$hr-border: 1px solid $medium-gray;
$hr-margin: rem-calc(20) auto;

// LIST
// ----------
$list-lineheight: $paragraph-lineheight;
$list-margin-bottom: $paragraph-margin-bottom;
$list-style-type: disc;
$list-style-position: outside;
$list-side-margin: 1.25rem;
$list-nested-side-margin: 1.25rem;

// DEFLIST
// ----------
$defnlist-margin-bottom: 1rem;
$defnlist-term-weight: $global-weight-bold;
$defnlist-term-margin-bottom: 0.3rem;

// QUOTE
// ----------
$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;

// CITE
// ----------
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;
$cite-pseudo-content: "\2014 \0020";

// KEYSTROKE
// ----------
$keystroke-font: $font-family-monospace;
$keystroke-color: $black;
$keystroke-background: $light-gray;
$keystroke-padding: rem-calc(2 4 0);
$keystroke-radius: $global-radius;
$abbr-underline: 1px dotted $black;

// ENABLE
// ----------
$enable-code-inline: true;
$enable-cite-block: true;

$lead-font-size: $global-font-size * 1.25 !default;
$lead-lineheight: 1.6 !default;
$subheader-lineheight: 1.4 !default;
$subheader-color: $dark-gray !default;
$subheader-font-weight: $global-weight-normal !default;
$subheader-margin-top: 0.2rem !default;
$subheader-margin-bottom: 0.5rem !default;
$stat-font-size: 2.5rem !default;

// BUTTON
// ----------

$button-font-family: $header-font-family;
$button-font-weight: $header-font-weight;
$button-font-style: $header-font-style;
$button-text-transform: uppercase;
$button-height: 50px;
$button-font-size: 1rem;
$button-margin: 15px 0 15px 0;
$button-padding: 0 30px;
$button-background-hover-lightness: 0%;
$button-color: $white;
$button-color-hover: $white;
$button-background: $primary-color;
$button-background-hover: lighten(
  $button-background,
  $button-background-hover-lightness
);
$button-radius: 0;
$button-opacity-disabled: 0.25;
$button-hollow-hover-lightness: -50%;
$button-transition: background-color 0.25s ease-out, color 0.25s ease-out;
$button-cursor: pointer;
$button-border: none;

// PRIMARY
$button-primary-background: $primary-color;
$button-primary-background-hover: lighten(
  $button-primary-background,
  $button-background-hover-lightness
);

// SECONDARY
$button-secondary-color: $body-font-color;
$button-secondary-background: #eee;
$button-secondary-background-hover: darken(
  $button-secondary-background,
  $button-background-hover-lightness
);

// DISABLED
$button-disabled-background: $dark-gray;

// TEXTBUTTON
$textbutton-color: $body-font-color;
$textbutton-text-transform: uppercase;
$textbutton-text-decoration: underline;
$textbutton-font-family: $header-font-family;
$textbutton-font-weight: $header-font-weight;
$textbutton-font-style: $header-font-style;
$textbutton-font-size: 1.1rem;
$textbutton-letter-spacing: 1px;
// BUTTON EFFECT
$button-effect-color: $secondary-color;
// ANIMATION
// ------------------
$fastDuration: 0.1s !default;
$mediumDuration: 0.3s !default;
$slowDuration: 0.5s !default;
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;
// TABLE
// ----------
$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken(
  $table-background,
  $table-color-scale + $table-hover-scale
);
$table-is-striped: true;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale / 2);
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $body-font-color;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;

//START PAGE
// -----------
$start-header-color: $white;
$start-header-background: transparent;

// PROJECT
// -----------
$project-list-small: 1;
$project-list-medium: 2;
$project-list-large: 3;
$project-margin-right: 0;
$project-margin-bottom: 0;
$project-selector: ".project-list>article";
