<div class="text-image-box light-grey">
    <div class="image-box"><img class="alignnone wp-image-168 size-medium" src="http://localhost/Local/wp-content/uploads/2017/05/jetshop-300x126.png" alt="" width="300" height="126" /></div>
    <div class="text-box">
        <h4>Varför Jetshop?</h4>
        Med Jetshop Commerce kan du engagera och rekrytera nya kunder helt sömlöst. En intelligent e-handelsplattform som möjliggör e-handel fullt integrerad med kassasystem, affärssystem, produktinformationssystem och betalsystem.

        Jetshop Commerce är förberedd för morgondagens ökande behov av helt integrerad omnikanal-handel, och framförallt, byggd för att skapa maximal kundupplevelse, oavsett kanal.

    </div>
</div>