<div class="big-image-text left">
    <div class="image-box">
        <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
    </div>
    <div class="text-box">
        <div class="inner-text">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
</div>

<div class="center-text">
    <h2>En smaskig rubrik</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
</div>

<div class="big-image-text right black">
    <div class="image-box">
        <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
    </div>
    <div class="text-box">
        <div class="inner-text">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
</div>

<div class="small-image-text left">
    <div class="image-box">
        <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
    </div>
    <div class="text-box">
        <div class="inner-text">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
</div>

<div class="big-image-overlay">
    <div class="image-box">
        <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
    </div>
    <div class="text-box">
        <div class="inner-text">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="col1of3">
        <div class="image-box">
            <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
        </div>
        <div class="text-box">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
    <div class="col1of3">
        <div class="image-box">
            <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
        </div>
        <div class="text-box">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
    <div class="col1of3">
        <div class="image-box">
            <img class="alignnone size-large wp-image-189" src="http://localhost/Local/wp-content/uploads/2017/03/Black-Smartphone-Mockup-1024x683.jpg" alt="" width="1024" height="683" />
        </div>
        <div class="text-box">
            <h2>En smaskig rubrik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel eleifend metus. Phasellus sit amet accumsan mauris. Nunc bibendum mi ac libero semper vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi molestie dignissim orci quis ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis pulvinar est eget sem fringilla pharetra.</p>
        </div>
    </div>
</div>

