<div class="top-bar-usp product-usp">
  <ul>
    <li>Fri frakt</li>
    <li>Fri returer</li>
    <li>30 dagars öppet köp</li>
  </ul>
</div>

<div class="top-bar-links">
  <ul>
    <li><a href="/kundtjanst">Kundtjänst</a></li>
    <li><a href="/my-pages">Logga in/Mina sidor</a></li>
  </ul>
</div>
