$instafeed-margin: 0.5;

#instagram-feed{
  margin: 3% 0;
  overflow: hidden;
  @include medium-only {
    margin-top: 10%;
  }
  h2{
    text-align: center;
    margin-bottom: 15px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      margin-bottom: add-unit($instafeed-margin, "%");
      a{
        display: block;
        width: 100%;
        position: relative;
        height: 330px;
        overflow: hidden;
        img {
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto !important;
          max-width: 9999px;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &:before{
          content: " ";
          display: block;
          opacity: 0;
          transition: opacity 0.4s;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: transparentize($black, 0.5);
          z-index: 2;
        }
        .info{
          opacity: 0;
          transition: opacity 0.4s;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 3;
        }
        &:hover{
          &:before{
            opacity: 1;
          }
          .info{
            opacity: 1;
          }
        }
        span{
          display: inline-block;
          color: $white;
          font-weight: bold;
          text-shadow: 0 0 4px $black;
          font-size: 1.2rem;
          &:before{
            font-family: $font-icon;
            font-size: $font-icon-size*1.2;
            color: $white;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
          }
          &.likes{
            margin-right: 15px;
            &:before{
              content: $font-icon-heart;
            }
          }
          &.comments{
            &:before{
              content: $font-icon-comment;
            }
          }
          &.location{
            display: block;
            &:before{
              content: $font-icon-location;
            }
          }
        }
      }
    }
  }
}

@include large-up {
  @include calculate-item-width(6, $instafeed-margin, "#instagram-feed ul li");
}

@include medium-only {
  @include calculate-item-width(4, $instafeed-margin, "#instagram-feed ul li");
}

@include small-only {
  @include calculate-item-width(2, $instafeed-margin, "#instagram-feed ul li");
}

@include xsmall-only {
  @include calculate-item-width(1, $instafeed-margin, "#instagram-feed ul li");
}