/*!
 * Font Awesome Free 5.0.10 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
$fa-font-path: "fonts";

@font-face {
  font-family: "Font Awesome 5 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("#{$fa-font-path}/fa-light-300.eot");
  src: url("#{$fa-font-path}/fa-light-300.eot?#iefix")
      format("embedded-opentype"),
    url("#{$fa-font-path}/fa-light-300.woff2") format("woff2"),
    url("#{$fa-font-path}/fa-light-300.woff") format("woff"),
    url("#{$fa-font-path}/fa-light-300.ttf") format("truetype"),
    url("#{$fa-font-path}/fa-light-300.svg#fontawesome") format("svg");
}
.fal {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("#{$fa-font-path}/fa-brands-400.eot");
  src: url("#{$fa-font-path}/fa-brands-400.eot?#iefix")
      format("embedded-opentype"),
    url("#{$fa-font-path}/fa-brands-400.woff2") format("woff2"),
    url("#{$fa-font-path}/fa-brands-400.woff") format("woff"),
    url("#{$fa-font-path}/fa-brands-400.ttf") format("truetype"),
    url("#{$fa-font-path}/fa-brands-400.svg#fontawesome") format("svg");
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
