#breadcrumbs{
  padding: 7px 0;
  background: $light-gray;
  .inner{

  }
}

ul.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    &:not(:last-child):after{
      display: inline-block;
      content: "\\";
      margin: 0 8px;
    }
    a{
      color: $breadcrumbs-color;
      font-size: $breadcrumbs-font-size;
    }
  }
}


.woocommerce-breadcrumb{
  margin: 0.5rem 0;
  font-size: 0.75rem;
}