/*********************
FOOTER STYLES
*********************/
#footer {
  overflow: hidden;
  clear: both;
}

#footer-main{
  background: $footer-background;
  color: $footer-color;
  text-align: center;
  overflow: hidden;
  padding: 8% 5px;
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $footer-color;
  }
  ul {
    list-style: none outside none;
    margin: 0;
  }
}
#footer-widget {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  >div{
    width: 100%;
  }
  @include small-down {
    flex-direction: column;
  }
  @include medium-up {
    > div:not(:last-child) {
      margin-right: 2%;
    }
  }
}

#footer-bottom{
  background: $footer-bottom-background;
  color: $footer-bottom-color;
  text-align: center;
  overflow: hidden;
  padding: 2% 5px;
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: $footer-bottom-color;
  }
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

