/*********************
HEADER
*********************/
header#header {
  height: $header-height;
  background: $header-background;
  color: $header-color;
  border-bottom: $header-border-bottom;
  background-position: top right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all $slowDuration;
  @include small-only {
    background-position: right -38px;
  }
  @include large-up {
    height: $header-height-large;
  }
  @include medium-down {
  }
  a {
    color: $header-color;
  }
  .inner {
    height: 100%;
    max-width: none;
  }
  .header-inner {
    padding: $header-padding-top 0;
    height: 100%;
    position: relative;
    text-align: center;
    @include large-up {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: $header-padding-top-large 0;
    }
  }
  .custom-logo-link {
    display: inline-block;
    @include large-up {
      float: left;
    }
    img {
      max-height: $header-logo-max-height;
      width: auto;
      display: inline-block;
      transition: all $mediumDuration;
      @include large-up {
        max-height: $header-logo-max-height-large;
      }
    }
    img.white-logo {
      display: none;
    }
  }
  .left-side,
  .right-side {
    position: absolute;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
  }
  .left-side {
    left: 0;
  }
  .right-side {
    right: 0;
  }
}

//HEADER ICONS
#menu-icon {
  transition: all $mediumDuration;
  @include large-up {
    margin-top: 1rem;
  }
  .icon {
    &:before {
      font-size: $header-menu-icon-size;
      font-family: $font-icon;
      content: $font-icon-menu;
      @include medium-only {
        font-size: $header-menu-icon-size-medium;
      }
      @include large-up {
        font-size: $header-menu-icon-size-large;
      }
    }
  }
  .text {
    display: none;
  }
}

#cart-button {
  position: relative;
  .icon:before {
    content: $font-icon-cart2;
    font-family: $font-icon;
    font-size: $font-icon-size * 2;
  }
  .amount,
  .tax_label {
    display: none;
  }
  .count {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: -7px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: $buy-trail;
    color: white;
  }
}

.woocommerce-active {
  #header {
    #nav-desktop {
      @include large-up {
        float: left;
        margin-left: 50px;
      }
    }
  }
}

#main-wrapper {
  &.top-bar-active {
    #header {
      top: $top-bar-height;
    }
  }
}

html.scrolling {
  header#header {
    height: $header-height-scroll;
    top: 0 !important;
    .header-inner {
      padding-top: $header-padding-top-scroll;
      @include large-up {
        padding-top: $header-padding-top-scroll-large;
      }
    }
    .custom-logo-link {
      img {
        max-height: $header-logo-max-height-scroll;
        @include large-up {
          max-height: $header-logo-max-height-scroll-large;
        }
      }
      img.start {
        display: none;
      }
    }
    #nav-desktop {
      margin: 0 0 0 0;
    }
    #menu-icon {
      margin-top: 0;
      @include large-up {
        margin-top: 5px;
      }
    }
    @include large-up {
      height: $header-height-scroll-large;
    }
  }
  .woocommerce-active {
    header#header {
      #nav-desktop {
        margin: 0 0 0 40px;
      }
    }
  }
}

#wpadminbar {
  display: none;
}
