#nav-desktop {
  display: none;
  transition: all $mediumDuration;
  @if $mobile-first {
    display: none;
  } @else {
    @include large-up {
      background: $dnav-background;
      height: $dnav-height;
      float: right;
      margin: $header-nav-desktop-margin;
      display: block;
      z-index: 99;
      width: auto;      
      ul {
        margin: 0;
        padding: 0;
        li {
          a {
          }
        }
      }
      ul.main-menu {
        height: 100%;
        display: flex;
        position: relative;
        //LEVEL1
        > li {
          display: flex;
          align-items: center;
          height: 100%;
          &:not(:first-child) {
            margin-left: 2rem;
          }
          > a {
            display: block;
            text-transform: $dnav-level1-transform;
            letter-spacing: $dnav-level1-letterspacing;
            padding: $dnav-level1-padding;
            color: $dnav-level1-color;
            background: $dnav-level1-background;
            font-weight: $dnav-level1-font-weight;
            font-family: $dnav-level1-font-family;
            font-size: $dnav-level1-font-size;
            font-style: $dnav-level1-font-style;
          }
          &:first-child {
            > a {
              padding-left: 0;
            }
          }
          &.current-menu-item {
            > a {
              color: $dnav-level1-color-active !important;
              background: $dnav-level1-background-active !important;
              border-color: $dnav-level1-border-active !important;
              font-weight: $dnav-level1-font-weight-active !important;
            }
            &:hover {
              > a {
                color: $dnav-level1-color-active-hover;
                background: $dnav-level1-background-active-hover;
              }
            }
          }
          &.nav-desktop-open {
            > a {
              /*color: $dnav-level1-color-clicked !important;
              background: $dnav-level1-background-clicked !important;
              border-color: $dnav-level1-border-clicked !important;
              font-weight: $dnav-level1-font-weight-clicked !important;*/
            }
            &:hover {
              > a {
                color: $dnav-level1-color-clicked-hover;
                background: $dnav-level1-background-clicked-hover;
              }
            }
          }
          &:last-child{
            >a{
              background: $primary-color !important;
              padding: 0.5rem 1rem;
              color: $white !important;
              font-size: 1rem;
              &:hover{
                background: darken($primary-color, 5%) !important;
              }
            }
          }
          &.menu-item-has-children.nav-desktop-open {
            .sub-nav-wrapper {
              display: block;
            }
          }

          //LANGUAGE PLUGIN MENU ITEM
          &.pll-parent-menu-item {
            .sub-title {
              display: none !important;
            }
            .sub-nav-wrapper {
              li {
                a {
                  display: block;
                  white-space: nowrap;
                  span {
                    display: inline-block;
                  }
                }
              }
            }
          }

          .sub-nav-wrapper {
            display: none;
            position: absolute;
            top: $dnav-height;
            left: -$dnav-sub-padding;
            width: 100%;
            max-width: 320px;
            background: $dnav-sub-background;
            padding: $dnav-sub-padding;
            border: 1px solid $dnav-sub-border;
            //min-width: 200px;
            z-index: 2;
            //border-top: none;
            .sub-title {
              display: none;
              margin: 10px 0 5px 0;
              padding: 2px $dnav-sub-padding;
              color: $dnav-sub-title-color;
              //background: $dnav-sub-title-background;
              text-transform: $dnav-sub-title-text-transform;
            }
            > ul {
              //columns: 5;
              //LEVEL2
              > li {
                display: block;
                margin-bottom: 7px;
                padding: 0 ;
                > a {
                  color: $dnav-level2-color;
                  background: $dnav-level2-background;
                  font-weight: $dnav-level2-font-weight;
                  text-transform: $dnav-level2-transform;
                  letter-spacing: $dnav-level2-letterspacing;
                }
                &.current-menu-item {
                  > a {
                    color: $dnav-level2-color-active;
                    background: $dnav-level2-background-active;
                    font-weight: $dnav-level2-font-weight-active;
                  }
                }
              }
            }
          }
          > ul {
            display: none;
          }
        }
      }
    }
  }
}

html.scrolling {
  #nav-desktop {
  }
}
