#header #menu-icon {
  @if $mobile-first {
    display: block;
  } @else {
    @include large-up {
      display: none;
    }
  }
}

#nav-mobile {
  background: $mnav-background;
  position:/* absolute;*/ fixed;
  height: 100%;
  width: $mnav-width;
  max-width: 100%;
  z-index: 9999;
  top: 0;
  left: -$mnav-width;
  opacity: $mnav-background-opacity;
  text-align: left;
  transition: left $slowDuration;
  @if $mobile-first {
    display: block;
  } @else {
    @include large-up {
      display: none;
    }
  }
  #nav-mobile-header {
    display: flex;
    height: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    background: $mnav-primary-background;
    #nav-logo {
      img {
        max-height: 35px;
        width: auto;
        display: block;
      }
      img.white-logo {
        display: none;
      }
    }
  }
  #close-icon {
    color: $mnav-close-icon-color;
    .icon:after {
      font-family: $font-icon;
      font-size: $mnav-close-icon-size;
      content: $font-icon-delete;
    }
    .text {
      display: none;
    }
  }

  .nav-mobile-inner {
    height: calc(100%);
    &.secondary-active {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nav-secondary,
      .nav-primary {
        height: 100%;
        width: 50%;
        padding: 80px 10%;
        @include small-down {
          width: 100%;
          padding: 50px 10%;
        }
      }
      .nav-secondary {
        background: $mnav-secondary-background;
        padding-right: 5%;
        @include small-down {
          display: none;
        }
      }
    }
    .nav-primary {
      background: $mnav-primary-background;
      padding: 5% 10%;
      overflow: auto;
      height: 100%;
      > div {
        width: 100%;
      }
    }
  }
  //GENERAL
  ul {
    list-style-type: none;
  }
  ul.menu {
    margin: 0 0 1rem;
    li.current-menu-parent > a {
      color: $mnav-current-parent-color !important;
    }
    li.current-menu-item > a {
      color: $mnav-current-item-color !important;
    }
    li {
      &.menu-item-has-children {
        > a:after {
          margin-left: 1rem;
          font-family: $font-icon;
          content: $font-icon-plus;
        }
        &.open {
          > a:after {
            content: $font-icon-minus;
          }
          > ul {
            display: block;
          }
        }
        > ul {
          display: none;
        }
      }
      li:last-child {
        border-bottom: none !important;
      }
    }
  }

  //MENU
  ul.main-menu {
    li {
      a {
        &:hover {
          color: $mnav-current-item-color;
        }
      }
    }

    //LEVEL 1
    > li {
      padding: 0 $mnav-padding;
      border-bottom: 1px solid $mnav-level1-border;
      > a {
        height: $mnav-level1-height;
        line-height: $mnav-level1-height;
        color: $mnav-level1-color;
        background: $mnav-level1-background;
        font-weight: $mnav-level1-font-weight;
        font-size: $mnav-level1-font-size;
        text-transform: $mnav-level1-text-transform;
        letter-spacing: $mnav-level1-letter-spacing;
        color: $mnav-level1-color;
        display: block;
        @include medium-up {
          font-size: $mnav-level1-font-size-large;
          height: $mnav-level1-height-large;
          line-height: $mnav-level1-height-large;
        }
      }

      &.pll-parent-menu-item {
        > a {
          &:after {
            display: none !important;
          }
        }
        a {
          display: flex;
          align-items: center;
          > img {
            order: 1;
            height: fit-content;
          }
          > span {
            order: 0;
            margin: 0 0.3em 0 0 !important;
          }
        }
        .show-all {
          display: none !important;
        }
      }

      &:last-child{
        margin-top: 5px;
        >a{
          display: inline-block;
          background: $primary-color;
          padding: 0 1rem;
          color: $white;
          font-size: 1.5rem;
          &:hover{
            background: darken($primary-color, 5%);
          }
        }
      }

      //LEVEL 2
      > ul {
        li {
          a {
            height: $mnav-level2-height;
            line-height: $mnav-level2-height;
            color: $mnav-level2-color;
            background: $mnav-level2-background;
            font-weight: $mnav-level2-font-weight;
            font-size: $mnav-level2-font-size;
            text-transform: $mnav-level2-text-transform;
            letter-spacing: $mnav-level2-letter-spacing;
            color: $mnav-level1-color;
            display: block;
            @include medium-up {
              font-size: $mnav-level2-font-size-large;
              height: $mnav-level2-height-large;
              line-height: $mnav-level2-height-large;
            }
          }
        }
      }
    }
  }

  #nav-right-widget {
    margin-top: 3rem;
    &:before {
      padding-top: 2rem;
    }
    * {
      color: $mnav-level1-color !important;
    }
    h3 {
      margin: 1em 0 0 0;
    }
  }
}

//OPEN
html.nav-mobile-open {
  #nav-mobile {
    overflow-x: auto;
    left: 0;
  }
  #overlay-background {
    display: block;
  }
}
