/*********************
SIDEBAR
*********************/
#sidebar {
  padding-top: 1rem;
  .widget {
    overflow: hidden;
    margin-bottom: 1rem;
  }
}

.widget_search{
  form{
    >label{
      >span{
        display: block;
      }
      >input {
        width: 70%;
        float: left;
        height: 40px;
      }
    }
    >input{
      width: 30%;
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0;
    }
  }
}

