/*********************
TOP-BAR
*********************/

#top-bar {
  //display: none;
  background-color: $top-bar-background;
  color: $top-bar-color;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: $top-bar-height;
  text-align: center;
  @include large-up {
    text-align: center;
  }
  .inner {
    max-width: none;
    display: flex;
    height: 100%;
  }
  #top-bar-widget{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1, h2, h3, h4, h5, h6, p{
      margin: 0;
    }
    .custom-html-widget{
      h1{
        font-size: 0.95rem;
      }
    }
  }
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    li {
      height: $top-bar-height;
      line-height: $top-bar-height;
      font-size: $top-bar-font-size;
      margin-right: 2rem;
      i{
        margin-right: 5px;
        color: $primary-color;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a {
    color: $top-bar-color;
  }
}

html.scrolling {
  #top-bar {
    height: $top-bar-height-scroll;
    ul {
      li {
        height: $top-bar-height-scroll;
        line-height: $top-bar-height-scroll;
      }
    }
  }
}

.top-bar-links {
  display: none;
  @include large-up {
    float: right;
    display: block;
  }
  ul {
  }
}

.top-bar-usp {
  @include large-up {
    float: left;
    display: block;
  }
  ul {
    @include medium-down {
      justify-content: center;
    }
    li {
      &:before {
        font-family: $font-icon;
        content: $font-icon-check;
        color: $primary-color;
        font-size: $top-bar-icon-size;
        margin-right: 5px;
      }
    }
  }
}
