/*------------------------------------
BLOCK COLUMNS
-------------------------------------*/

div.wp-block-columns {
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  @include medium-up {
    flex-direction: row;
    justify-content: space-between;
  }
  .wp-block-column {
    position: relative;
    flex: 0;
    margin: 0 0 $block-columns-space * 2 0;
    width: 100%;
    flex-basis: unset;
    min-width: unset;
    word-break: break-word;
    overflow-wrap: break-word;
    @include medium-up {
      width: (100%-$block-columns-space)/2;
      margin: 0 0 $block-columns-space 0;
    }
  }

  &.has-2-columns {
    .wp-block-column {
      @include small-up {
        //margin-bottom: 0;
      }
    }
  }
  &.has-3-columns {
    @include small-only {
      flex-direction: column;
    }
    .wp-block-column {
      @include small-only {
        width: 100%;
        margin: 0 0 $block-columns-space * 2 0;
      }
      @include medium-up {
        width: (100%-$block-columns-space * 2)/3;
        //margin-bottom: 0;
      }
    }
  }
  &.has-4-columns {
  }
  &:nth-child(odd) {
  }
}

.no-spacing {
  margin-bottom: 0;
  .wp-block-column {
    margin: 0 !important;
    @include medium-up {
      width: (100%)/2 !important;
      margin: 0 !important;
    }
  }
  &.has-3-columns {
    @include medium-down {
      flex-direction: column;
    }
    .wp-block-column {
      @include medium-down {
        margin: 0 !important;
      }
      @include medium-up {
        width: 100%/3 !important;
      }
    }
  }
}
