/*------------------------------------
CUSTOM CLASSES FOR BLOCKS
-------------------------------------*/

//MAX-WIDTH
.max-width {
  margin: 0 auto;
  max-width: $global-width;
  padding: 0 $global-padding;
}

//SMALL-WIDTH
.small-width {
  margin: 0 auto;
  max-width: 960px;
  @include large-up {
    padding: 0 $global-padding;
  }
}
.full-screen .small-width {
  padding: 0 $global-padding;
}

.margin-top {
  margin-top: $global-margin-top !important;
  @include large-up {
    margin-top: $global-margin-top-large !important;
  }
}

.margin-bottom {
  margin-bottom: 3rem !important;
}

.padding-side {
  padding: 0 $global-padding !important;
  @include large-up {
    padding: 0 $global-padding-large !important;
  }
}

.padding {
  padding: $global-padding !important;
  @include large-up {
    padding: $global-padding-large !important;
  }
}

.random-background-color {
  .wp-block-media-text__content {
    background: $background-dark-color;
    * {
      color: white !important;
    }
  }
  &:nth-of-type(2n) .wp-block-media-text__content {
    background: $background-dark-color2;
  }
  &:nth-of-type(3n) .wp-block-media-text__content {
    background: $background-dark-color3;
  }
  &:nth-of-type(4n) .wp-block-media-text__content {
    background: $background-dark-color4;
  }
}

.background-grey {
  padding: $global-padding !important;
  @include large-up {
    padding: $global-padding-large !important;
  }
  background: $light-gray;
}

.flex-column-2, .flex-column-4{
  >div{
    display: flex;
    flex-wrap: wrap;
  }
}
.flex-column-2{
  >div{
    >div{
      width: 50%;
      @include large-up{
        width: 50%;
      }
    }
    .wp-block-cover{
      padding-top: 50%;
      @include large-up{
        padding-top: 50%;
      }
      min-height: auto;
      a{
        color: white;
      }
    }
  }
}
.flex-column-4{
  >div{
    >div{
      width: 50%;
      @include large-up{
        width: 25%;
      }
    }
    .wp-block-cover{
      padding-top: 50%;
      @include large-up{
        padding-top: 25%;
      }
      min-height: auto;
      a{
        color: white;
      }
    }
  }
}
