@mixin button($style: standard) {
  line-height: $button-height !important;
  height: $button-height;
  display: inline-block;
  color: $button-color !important;
  background: $button-background;
  font-family: $button-font-family;
  text-transform: $button-text-transform;
  padding: $button-padding;
  text-decoration: none !important;
  font-size: $button-font-size;
  border: $button-border;
  transition: $button-transition;
  border-radius: $button-radius;
  position: relative;
  letter-spacing: 1px;
  &:hover,
  &:focus {
    background-color: $button-background-hover;
    color: $button-color-hover !important;
    text-decoration: none;
  }
  @if ($style == primary) {
    background: $button-primary-background !important;
    &:hover,
    &:focus {
      background-color: $button-primary-background-hover !important;
    }
  }
  @if ($style == buy) {
    background: $buy-trail !important;
    color: white;
    &:hover,
    &:focus {
      background-color: darken($buy-trail, 5%) !important;
      color: white;
    }
  }
  @if ($style == disabled) {
    background: $button-disabled-background !important;
    cursor: text;
    &:hover,
    &:focus {
      background: $button-disabled-background !important;
    }
  }
  @if ($style == secondary) {
    background: $button-secondary-background !important;
    color: $button-secondary-color !important;
    &:hover,
    &:focus {
      background-color: $button-secondary-background-hover !important;
      color: $button-secondary-color !important;
    }
  }
  @if ($style == transparent) {
    background: none !important;
    color: $button-color !important;
    border: 2px solid $button-color;
    min-width: 200px;
    max-width: 100%;
    &:hover,
    &:focus {
      background-color: none !important;
      color: $button-color !important;
    }
  }
  @if ($style == overlay) {
    background: rgba(255,255,255, 0.2) !important;
    color: $button-color !important;
    border: none;
    height: 40px;
    line-height: 40px !important;
    padding: 0 20px;
    &:hover,
    &:focus {
      background: rgba(255,255,255, 0.4) !important;
      color: $button-color !important;
    }
  }
}

// BUTTON CLASSES
.button {
  @include button();
  &.margin {
    margin: $button-margin;
  }
  &.right {
    float: right;
  }
  &.primary {
    @include button(primary);
    @include float-shadow();
    //@include sweep-to-right();
    //@include sweep-to-left();
    //@include underline-from-left();
    //@include underline-from-right();
  }
  &.buy {
    @include button(buy);
    //@include float-shadow();
  }
  &.transparent {
    @include button(transparent);
  }
  &.overlay {
    @include button(overlay);
  }
  &.disabled {
    @include button(disabled);
  }
}
html a.text-button {
  display: inline-block;
  text-transform: $textbutton-text-transform;
  color: $textbutton-color;
  //line-height: $button-height !important;
  //height: $button-height;
  font-family: $textbutton-font-family;
  font-style: $textbutton-font-style;
  font-weight: $textbutton-font-weight;
  font-size: $textbutton-font-size;
  margin-left: 0.5rem;
  letter-spacing: $textbutton-letter-spacing;
  >span{
    text-decoration: $textbutton-text-decoration !important;
  }
  &.margin {
    margin: $button-margin;
  }
  &.right {
    float: right;
  }
  &.border {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid $primary-color;
    width: 50%;
  }
}
.comment-reply-link {
  @include button("secondary");
  margin-top: 15px;
}
