html.no-js {
  margin-top: 0 !important;
}

.inner {
  max-width: $global-width;
  margin: 0 auto;
  padding: 0 $global-padding;
  &.text-width {
    max-width: $global-width-text;
    padding: 0 2rem;
  }
}

.full-screen {
  max-width: $fullscreen-max-width;
  margin: 0 auto;
}

#content-wrapper {
  padding-top: $header-height;
  overflow: hidden;
  @include large-up {
    padding-top: $header-height-large;
  }
}

#main-wrapper {
  &.top-bar-active {
    #content-wrapper {
      padding-top: $top-bar-height + $header-height;
      @include large-up {
        padding-top: $top-bar-height + $header-height-large;
      }
    }
  }
}

html.hide-before-load {
  #main-wrapper {
    opacity: 0;
  }
}

#main-wrapper {
  transition: opacity 0.5s;
  opacity: 1;
}

#content {
  .inner {
    padding-top: 1rem;
    padding-bottom: 3rem;
    @include large-up {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }
  }
}
