
/*********************
COMMENT STYLES
*********************/
#comments {
  clear: both;
  .commentlist {
    margin-left: 0px;
  }
}

#respond {
  ul {
    margin-left: 0px;
  }
}

.commentlist {
  background: $light-gray;
  padding: 10px;
  border: 1px solid $border-color;
  li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;

    &:last-child {
      margin-bottom: 0;
    }

    ul.children {
      margin: 0;

      li {}

      .comment {}
      .alt {}
      .odd {}
      .even {}
      .depth-1 {}           // Change number for different depth
      .byuser {}
      .bypostauthor {}
      .comment-author-admin {}

    }

    // COMMENT META
    header.comment-meta{
      border-top: 1px solid darken($light-gray, 5%);
      border-bottom: 1px solid darken($light-gray, 5%);
      padding: 5px;
      .author{
        img{
          width: 30px;
        }
        span{
          margin-left: 4px;
        }
      }
      .date{

      }
      .categories-links{

      }
      .date, .author span{
        margin-left: 5px;
        background: darken($light-gray, 5%);
        padding: 0 10px;
        display: inline-block;
        line-height: 31px;
        height: 31px;
        font-size: 12px;
      }
    }
  }

  li[class*=depth-] {
    margin-top: 1.1em;
  }

  li.depth-1 {
    margin-left: 0;
    margin-top: 0;
  }

  li:not(.depth-1) {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0;
  }

  li.depth-2 {}
  li.depth-3 {
  }
  li.depth-4 {}
  li.depth-5 {}

  // General comment classes
  .alt {}
  .odd {
  }
  .even {
  }
  .parent {}
  .comment {}
  .children {}
  .pingback {}
  .bypostauthor {}
  .comment-author {}
  .comment-author-admin {}
  .thread-alt {}
  .thread-odd {}
  .thread-even {}


  // comment reply link
  .comment-reply-link {
    float: right;

    &:hover,
    &:focus {

    }

  } // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
#respond {
  margin-top: 3rem;
  form {


    li {


      label,
      small {

      }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    textarea {

      &:focus {

      }

      // form validation
      &:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
      }
    }

    input[type=text],
    input[type=email],
    input[type=url] {
      max-width: 400px;
      min-width: 250px;
    }

    textarea {

    }

  }
}

// comment submit button
.form-submit {
  text-align:right;
}

// comment form title
#comment-form-title {
  margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
  a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
  display: none;
}