/*********************
FORM
*********************/

.post-password-form input[type="submit"] {
  @include button;
}

input[type="submit"],
input[type="button"] {
  @include button;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  margin: 0 0 1rem;
  padding: 1rem;
  border: $forms-input-border;
  border-radius: 3px;
  background-color: $forms-input-background;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: $forms-input-font-size;
  font-weight: $forms-input-font-weight;
  color: $forms-input-color;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"] {
  max-width: 500px;
}

select {
  padding: 0.5rem;
  border: $forms-input-border;
  border-radius: 3px;
  cursor: pointer;
}

textarea {
  height: 100px !important;
}

.contact-form {
  max-width: 100%;
  margin: 0 auto;
  .fields {
    columns: 2;
    > span {
      display: block;
      width: 100%;
      input {
        width: 100%;
        max-width: 100%;
        border: none;
        height: 40px;
        border-bottom: $forms-input-border;
      }
    }
  }
  .amount {
    text-align: center;
    label {
      display: block;
      margin: 10px 0;
      input {
        display: inline-block;
        border: 1px solid $border-color;
      }
    }
    br {
      display: none;
    }
  }
  .comments {
    textarea {
      margin-top: 20px;
      width: 100%;
      border: 1px solid $border-color;
    }
  }
  input[type="submit"] {
    display: block;
    margin: 15px auto;
    min-width: 200px;
  }
}
div.wpcf7-mail-sent-ok {
  border: 1px solid $success-color;
  padding: 15px;
  margin: 0;
}


.wpforms-container{
  .wpforms-form{
    .wpforms-field{
      display: flex;
      flex-direction: column;
      padding: 0.7rem 0 !important;
      >*{
        order:3;
      }
      label{
        order:1;
      }
      .wpforms-field-description{
        order:2;
        margin: 5px 0;
        color: #AAA;
      }
    }
  }
}