/*********************
GLOBAL STYLES
*********************/

html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Default body styles
body {
  margin: 0;
  padding: 0;

  background: $body-background;
  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;
  font-size: $global-font-size;
  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  }
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
  border-radius: $global-radius;
}

// Make select elements are 100% width by default
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: $global-radius;
}

// Styles Google Maps and MapQuest embeds properly
// sass-lint:disable-line no-ids
.map_canvas,
.mqa-display {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

// Reset <button> styles created by most browsers
button {
  @include disable-mouse-outline;
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: $global-radius;
  background: transparent;
  line-height: 1;
  cursor: $button-cursor;
}

// Prevent text overflow on pre
pre {
  overflow: auto;
}

// Make reset inherit font-family instead of settings sans-serif
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

// Internal classes to show/hide elements in JavaScript
.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
  // Mobile tap color
  &:link {
    //Highlight links on iOS, Similar to :hover for mobile devices.
    //-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

a:focus {
  outline: 0;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  // Removing text decoration from all headline links
  a {
    text-decoration: none;
  }
}

h1,
.h1 {
}

h2,
.h2 {
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

//CUSTOM CLASSES
p.super-quote {
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1em;
}

.screen-reader-text {
  display: none;
}

/*********************
NAVIGATION STYLES
*********************/
.top-bar {
  .title-area {
    z-index: 1;
  }
}

.off-canvas-list {
  ul {
    margin-left: 0;
    li {
      a {
        border-bottom: 0px;
      }
    }
    .dropdown {
      margin-left: 20px;
    }
  }
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  dl {
    float: left;
    border: 5px solid $border-color;
    //padding: 5px;
    a {
    }

    img {
    }
  }

  dt {
  }

  dd {
  }
}

$gallery-margin: 1;

@include large-up {
  @include calculate-item-width(
    1,
    $gallery-margin,
    ".gallery.gallery-columns-1 .gallery-item"
  );
  @include calculate-item-width(
    2,
    $gallery-margin,
    ".gallery.gallery-columns-2 .gallery-item"
  );
  @include calculate-item-width(
    3,
    $gallery-margin,
    ".gallery.gallery-columns-3 .gallery-item"
  );
  @include calculate-item-width(
    4,
    $gallery-margin,
    ".gallery.gallery-columns-4 .gallery-item"
  );
  @include calculate-item-width(
    5,
    $gallery-margin,
    ".gallery.gallery-columns-5 .gallery-item"
  );
  @include calculate-item-width(
    6,
    $gallery-margin,
    ".gallery.gallery-columns-6 .gallery-item"
  );
}

@include medium-only {
  @include calculate-item-width(
    1,
    $gallery-margin,
    ".gallery.gallery-columns-1 .gallery-item"
  );
  @include calculate-item-width(
    2,
    $gallery-margin,
    ".gallery.gallery-columns-2 .gallery-item"
  );
  @include calculate-item-width(
    3,
    $gallery-margin,
    ".gallery.gallery-columns-3 .gallery-item"
  );
  @include calculate-item-width(
    4,
    $gallery-margin,
    ".gallery.gallery-columns-4 .gallery-item"
  );
  @include calculate-item-width(
    5,
    $gallery-margin,
    ".gallery.gallery-columns-5 .gallery-item"
  );
  @include calculate-item-width(
    3,
    $gallery-margin,
    ".gallery.gallery-columns-6 .gallery-item"
  );
}

@include small-only {
  @include calculate-item-width(
    1,
    $gallery-margin,
    ".gallery.gallery-columns-1 .gallery-item"
  );
  @include calculate-item-width(
    1,
    $gallery-margin,
    ".gallery.gallery-columns-2 .gallery-item"
  );
  @include calculate-item-width(
    1,
    $gallery-margin,
    ".gallery.gallery-columns-3 .gallery-item"
  );
  @include calculate-item-width(
    2,
    $gallery-margin,
    ".gallery.gallery-columns-4 .gallery-item"
  );
  @include calculate-item-width(
    2,
    $gallery-margin,
    ".gallery.gallery-columns-5 .gallery-item"
  );
  @include calculate-item-width(
    2,
    $gallery-margin,
    ".gallery.gallery-columns-6 .gallery-item"
  );
}

// Gallery caption styles
.gallery-caption {
}
.size-full {
}
.size-large {
}
.size-medium {
}
.size-thumbnail {
}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

/*********************
OVERLAY
*********************/

#overlay-background {
  transition: all $slowDuration;
  background: rgba(0, 0, 0, 0.07);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; //$header-height;
  left: 0;
  z-index: 100;
}
