

.icon-2x{
    font-size: 1.5rem;
    @include large-up{
        font-size: 2rem;
    }
}
.icon-3x{
    font-size: 2rem;
    @include large-up{
        font-size: 3rem;
    }
}
.icon-4x{
    font-size: 2rem;
    @include large-up{
        font-size: 4rem;
    }
}
.icon-5x{
    font-size: 3rem;
    @include large-up{
        font-size: 5rem;
    }
}
.icon-6x{
    font-size: 3rem;
    @include large-up{
        font-size: 6rem;
    }
}