#mini-cart {
  background: white;
  width: 400px;
  max-width: 100%;
  position: fixed;
  height: 100%;
  z-index: 9999;
  right: -400px;
  transition: right $slowDuration;
  top: 0;
  padding: 1rem;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem;
    border-bottom: 1px solid $border-color;
    h2 {
      font-size: 1.2rem;
      margin: 0;
    }
    #mini-cart-close {
      padding: 2px;
      cursor: pointer;
      &:after {
        content: $font-icon-delete;
        font-family: $font-icon;
      }
    }
  }

  //LIST
  > ul {
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0.5rem 0;
      border-bottom: 1px solid $border-color;
      font-size: 0.9rem;
      //REMOVE ICON
      a.remove {
        position: absolute;
        top: 0.5rem;
        right: 0;
      }
      //IMAGE
      > a:not(.remove) {
        padding-right: 1rem;
        img {
          width: 20%;
          float: left;
          margin-right: 1rem;
        }
      }
      .quantity {
        display: flex;
        justify-content: flex-end;
        .amount {
          margin-left: 5px;
        }
      }
    }
  }
  p.total {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 1rem 0;
    .amount {
      margin-left: 5px;
    }
    .tax_label {
      margin-left: 2px;
    }
  }
  p.buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

html.show-mini-cart {
  body {
    overflow: hidden;
  }

  #mini-cart {
    right: 0;
  }
  #overlay-background {
    display: block;
  }
}
