.woocommerce-notices-wrapper {
  margin: 1rem 0;
  > * {
    border-left: 10px solid $border-color;
    background: $light-gray;
    padding: 0.5rem 1rem;
  }
  .woocommerce-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: $buy-trail;
    a.button {
      order: 2;
      height: 36px;
      line-height: 36px !important;
    }
  }
  .woocommerce-error {
    margin: 0;
    list-style-type: none;
    border-color: $warning-color;
    a.wc-forward {
      display: none;
    }
  }
}
