.onsale {
  border: 2px solid;
  background: $discount;
  border-color: darken($discount, 10%);
  color: white;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  padding: 0 0.5rem;
  font-size: .857rem;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}