/*********************
PAGE NAVI STYLES
*********************/

.page-navigation{
  float: right;
  margin-top: 1rem;
  ul{
    margin: 0;
    text-align: right;
    li{
      display: inline-block;
      a{
        @include button;
        margin: 0 5px 7px 0;
      }
      &.current {
        @include button(disabled);
        margin: 0 5px 7px 0;
      }
    }
  }
}