.price{
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1rem;
  color:  $body-font-color;
  .woocommerce-Price-amount{

  }
  .woocommerce-Price-currencySymbol{

  }
  del{
    order:1;
  }
  ins{
    text-decoration: none;
    order:0;
    margin-right: 0.5rem;
    color: $discount;
  }
}