
.woocommerce-tabs {
  width: 100%;
  @include large-up {

  }
  ul.tabs {
    border-bottom: 1px solid $border-color;
    list-style: none;
    margin-left: 0;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    li {
      position: relative;
      margin-right: .5rem;
      display: flex;
      align-items: center;
      background: $light-gray;
      border: 1px solid $border-color;
      border-bottom: none;
      @include medium-up {
        margin-right: 1.5rem;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        display: block;
        @include medium-up {
          font-size: 1rem;
          padding: 1rem 2rem;
          font-weight: $font-weight-bold;
        }
      }
      &.active {
        top: 1px;
        background: white;
        a {

        }
      }
      &:first-child a{
        //border-left: 1px solid $border-color;
      }
    }
  }
  .panel {

  }
}

.woocommerce-Tabs-panel{
  >h2, h2.woocommerce-Reviews-title{
    margin-bottom: 2rem;
  }
}

table.woocommerce-product-attributes{
  th{
    padding: 0 1rem 0 0;
  }
  th, td{
    padding: 0;
    text-align: left;
    vertical-align: initial;
  }
  td{
    padding-left: 1rem;
    p{
      margin: 0;
    }
  }
}
