
.star-rating {
  display: flex;
  justify-content: center;
  a{
    display: flex;
    flex-direction: row;
  }
  span{
    &:before{
      font-family:$font-icon;
      content:$font-icon-star;
      color: $medium-gray;
      font-size: 14px;
    }
    &.selected:before{
      color: $gold;
    }
  }
}

.comment-text{
  .star-rating {
    justify-content: flex-start;
  }
}


p.stars {
  display: inline-block;
  margin: 0 0 0 1rem;

  a {
    position: relative;
    height: 27px;
    width: 27px;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 27px;
      width: 27px;
      line-height: 1;
      font-family: $font-icon;
      content: $font-icon-star;
      color: $light-gray;
      font-size: 18px;
      text-indent: 0;
    }

    &:hover {
      ~ a:before {
        color: $light-gray;
      }
    }
  }

  &:hover {
    a {
      &:before {
        color: $gold;
      }
    }
  }

  &.selected {
    a.active {
      &:before {
        color: $gold;
      }

      ~ a:before {
        color: $light-gray;
      }
    }

    a:not(.active) {
      &:before {
        color: $gold;
      }
    }
  }
}