#reviews{
  #comments{
    .woocommerce-Reviews-title{

    }
    ol.commentlist{
      li{
        .comment_container{
          display: flex;
          width: 100%;
          img{
            height: fit-content;
          }
          .comment-text{
            margin-left: 1rem;
            .description{
              width: 100%;
              border-top: 1px solid $medium-gray;
              padding-top: 1rem;
              font-style: italic;
            }
          }
        }
      }
    }
  }
  #review_form_wrapper{

  }

}