@mixin cite-block {
  display: block;
  color: $cite-color;
  font-size: $cite-font-size;

  &:before {
    content: $cite-pseudo-content;
  }
}

/// Add basic styles for a code helper.
/// See `code-inline` and `code-block` mixins.
@mixin code-style {
  border: $code-border;
  background-color: $code-background;

  font-family: $code-font-family;
  font-weight: $code-font-weight;
  color: $code-color;
}

/// Make code helper from the `code-style` mixin inline.
/// Used to generate `.code-inline`
@mixin code-inline {
  display: inline;
  max-width: 100%;
  word-wrap: break-word;

  padding: $code-padding;
}

/// Make code helper from the `code-style` mixin a block.
/// Used to generate `.code-block`
@mixin code-block {
  display: block;
  overflow: auto;
  white-space: pre;

  padding: $code-block-padding;
  margin-bottom: $code-block-margin-bottom;
}

// Use to create a subheading under a main header
// Make sure you pair the two elements in a <header> element, like this:
// <header>
//   <h1>Heading</h1>
//   <h2>Subheading</h2>
// </header>
.subheader {
  margin-top: $subheader-margin-top;
  margin-bottom: $subheader-margin-bottom;

  font-weight: $subheader-font-weight;
  line-height: $subheader-lineheight;
  color: $subheader-color;
}

// Use to style an introductory lead, deck, blurb, etc.
.lead {
  font-size: $lead-font-size;
  line-height: $lead-lineheight;
}

// Use to style a large number to display a statistic
.stat {
  font-size: $stat-font-size;
  line-height: 1;

  p + & {
    margin-top: -1rem;
  }
}

ul,
ol {
  // Use to remove numbers from ordered list & bullets from unordered list
  &.no-bullet {
    margin-left: 0;
    list-style: none;
  }
}

.cite-block {
  @include cite-block;
}

.code-inline {
  @include code-style;
  @include code-inline;
}

.code-block {
  @include code-style;
  @include code-block;
}

// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// Paragraphs
p {
  margin-bottom: $paragraph-margin-bottom;
  font-size: $paragraph-font-size;
  line-height: $paragraph-lineheight;
  text-rendering: $paragraph-text-rendering;
  letter-spacing: $paragraph-letter-spacing;
}

.has-medium-size {
  font-size: 1.4rem;
}

// Emphasized text
em,
i {
  font-style: italic;
  line-height: inherit;
}

// Strong text
strong,
b {
  font-weight: $global-weight-bold;
  line-height: inherit;
}

// Small text
small {
  font-size: $small-font-size;
  line-height: inherit;
}

// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  color: $header-color;
  text-rendering: $header-text-rendering;
  text-transform: $header-font-transform;
  letter-spacing: $header-letter-spacing;
  margin: 1rem 0 0.5rem;
  small {
    line-height: 0;
    color: $header-small-font-color;
  }
  &.primary {
    color: $primary-color;
  }
  &.light {
    font-weight: 300;
  }
  &.second-font {
    font-family: $header-font-family2;
  }
}

h1,
.h1 {
  font-size: $h1-font-size - $h1-font-reduction;
}
h2,
.h2 {
  font-size: $h2-font-size - $h2-font-reduction;
}
h3,
.h3 {
  font-size: $h3-font-size - $h3-font-reduction;
}
h4,
.h4 {
  font-size: $h4-font-size - $h4-font-reduction;
}
h5,
.h5 {
  font-size: $h5-font-size - $h5-font-reduction;
}
h6,
.h6 {
  font-size: $h6-font-size - $h6-font-reduction;
}

@include large-up {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $header-lineheight;
  }
  h1,
  .h1 {
    font-size: $h1-font-size;
  }
  h2,
  .h2 {
    font-size: $h2-font-size;
  }
  h3,
  .h3 {
    font-size: $h3-font-size;
  }
  h4,
  .h4 {
    font-size: $h4-font-size;
  }
  h5,
  .h5 {
    font-size: $h5-font-size;
  }
  h6,
  .h6 {
    font-size: $h6-font-size;
  }
}

// Links
a:not(.button) {
  line-height: inherit;
  color: $anchor-color;
  text-decoration: $anchor-text-decoration;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $anchor-color-hover;
    @if $anchor-text-decoration-hover != $anchor-text-decoration {
      text-decoration: $anchor-text-decoration-hover;
    }
  }

  img {
    border: 0;
  }
}

// Horizontal rule
hr {
  clear: both;

  max-width: $hr-width;
  height: 0;
  margin: $hr-margin;

  border-top: 0;
  border-right: 0;
  border-bottom: $hr-border;
  border-left: 0;
}

ul,
ol,
dl {
  margin-bottom: $list-margin-bottom;
  list-style-position: $list-style-position;
  line-height: $list-lineheight;
}

// List items
li {
  font-size: inherit;
}

// Unordered lists
ul {
  margin-left: $list-side-margin;
  list-style-type: $list-style-type;
}

// Ordered lists
ol {
  margin-left: $list-side-margin;
}

// Nested unordered/ordered lists
ul,
ol {
  & & {
    margin-left: $list-nested-side-margin;
    margin-bottom: 0;
  }
}

// Definition lists
dl {
  margin-bottom: $defnlist-margin-bottom;

  dt {
    margin-bottom: $defnlist-term-margin-bottom;
    font-weight: $defnlist-term-weight;
  }
}

// Blockquotes
blockquote {
  margin: 0 0 $paragraph-margin-bottom;
  padding: $blockquote-padding;
  border-left: $blockquote-border;

  &,
  p {
    line-height: $paragraph-lineheight;
    color: $blockquote-color;
  }
}

// Inline Citations
@if ($enable-cite-block == true) {
  cite {
    // Extending a class is not recommended.
    // TODO: Break the typography-base/typography-helpers separation
    @extend .cite-block;
  }
}

// Abbreviations
abbr,
abbr[title] {
  border-bottom: $abbr-underline;
  cursor: help;
  text-decoration: none;
}

// Figures
figure {
  margin: 0;
}

// Code
@if ($enable-code-inline == true) {
  code {
    @extend .code-inline;
  }
}

// Keystrokes
kbd {
  margin: 0;
  padding: $keystroke-padding;

  background-color: $keystroke-background;

  font-family: $keystroke-font;
  color: $keystroke-color;

  @if has-value($keystroke-radius) {
    border-radius: $keystroke-radius;
  }
}
