#variation-button{
  margin: 0 0 15px 0;
  padding: 0;
  li{
    list-style-type: none;
    &:first-child{
      display: block;
      width: 100%;
      margin-bottom: 7px;
      a{
        cursor: normal;
        font-size: 12px;
        font-style: italic;
      }
    }
    &:not(:first-child) {
      display: inline-block;
      margin-right: 5px;
      a {
        padding: 5px 13px;
        background: #333;
        color: white;
        font-weight: bold;
        &.selected{
          background: $secondary-color;
        }
      }
    }
  }
}