
/**
 * Single Product
 */
.single-product {
    div.product {
        @include clearfix;
        position: relative;
        overflow: hidden;

        .onsale{
            top: 0.5em;
        }

        .images,
        .summary {
            margin-bottom: 1em;
            margin-top: 0;
        }

        .images {
            .woocommerce-main-image {
                margin-bottom: 1.618em;
                display: block;
            }

            .thumbnails {
                a.zoom {
                    display: block;
                    width: 22.05%;
                    margin-right: 3.8%;
                    float: left;
                    margin-bottom: 1em;

                    &.last {
                        margin-right: 0;
                    }

                    &.first {
                        clear: both;
                    }
                }
            }
        }
        .name{
            padding-right: 2em;
        }
        .price {
            font-size: 1.5em;
            margin: 0 0 0.5em 0;
            ins{
                margin-left: 0.5em;
            }
            del{
                //float: right;
            }
        }

        .short-description{
            clear: both;
            ul{
                margin-left: 1.8em;
            }
        }

        form.cart {
            @include clearfix;
            margin-bottom: 0;
            padding: 1em 0;
            border-top: 2px solid rgba(0,0,0,0.025);
            border-bottom: 2px solid rgba(0,0,0,0.025);

            .quantity {
                float: left;
            }

            .button {
                float: right;
            }
        }

        table.variations {
            margin: 0;

            th,
            td {
                display: list-item;
                padding: 0;
                list-style: none;
                background-color: transparent;
            }

            .value {
                margin-bottom: 0.5em;
            }
        }

        .variations_form{
            select{
                width: 100%;
                height: 40px;
                padding: 0 0.5rem;
                &.error{
                    border-color: red;
                }
            }
            .reset_variations{
                margin-top: 0.5rem;
                margin-left: 0;
            }
        }

        .single_variation {
            .price {
                margin-bottom: 0em;
                display: block;
            }
        }

        .variations_button {
            @include clearfix;
            padding-top: 0.5em;
            //border-top: 1px solid $border-color;
            .quantity{
                width: 20%;
                display: inline-block;
                input{
                    width: 100%;
                    height: 50px;
                    max-width: 100%;
                }
            }
            .button{
                width: 80%;
                display: inline-block;
                height: 50px;
            }
        }

        .woocommerce-product-rating {
            margin-bottom: 0.5em;
            @include clearfix;
            line-height: 1;
            border-bottom: 1px solid $border-color;
            padding: 0 0 1.618em;
            margin-top: -.618em;

            a {
                font-size: .857em;
            }

            .star-rating {
                float: right;
            }
        }
        .product-usp{
            border-bottom: 2px solid rgba(0,0,0,0.025);
            margin-bottom: 1rem;
            ul{
                text-align: center;
            }
        }
        .under-product-button{
            display: block;
            img{
                margin: 0 auto;
            }
        }
        .product_meta {
            display: none;
            font-size: .857em;
            .sku_wrapper,
            .posted_in,
            .tagged_as {
                border-bottom: 1px dotted $border-color;
                display: block;
                padding: .53em 0;

                &:last-child {
                    border-bottom: 0;
                }
            }
            .sku_wrapper{

            }
            .posted_in{

            }
        }
    }
}

#product-slider{
    .slick-slide{
        margin: 0;
    }
    .slick-dots{
        text-align: right;
    }
}



.under-product-button{
    display: none;
}
.stock {
    &:before {
        font-family: $font-icon;
        margin-right: .53em;
    }

    &.in-stock {
        color: $success-color;

        &:before {
            content: $font-icon-check;
        }
    }

    &.out-of-stock {
        color: $warning-color;

        &:before {
            content: $font-icon-delete;
        }
    }
}

a.reset_variations {
    //display: inline-block;
    margin-left: 1em;
    display: none !important;
    &:before {
        font-family: $font-icon;
        content: "\f021";
        font-weight: 400;
        margin-right: .53em;
    }
}

.woocommerce-tabs {
    border: 1px solid $border-color;
    border-width: 1px 0;
    padding: 2em 0;
    @include large-up {
        @include clearfix;
        margin-bottom: 2.618em;
        padding-top: 2.618em;
        padding-bottom: 2.618em;
    }
    ul.tabs {
        list-style: none;
        margin-left: 0;
        text-align: center;
        overflow: hidden;
        li {
            display: inline-block;
            position: relative;
            margin: 0;
            float: left;
            width: 33.333334%;
            a{
                padding: 1rem 0;
                display: block;
                background: $button-background;
                border-right: 1px solid $border-color;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                @include small-down {
                    font-size: 13px;
                }
            }
            &.active a {
                background: darken($button-background, 7%);
                //color: white;
            }
            &:first-child a{
                border-left: 1px solid $border-color;
            }
        }
    }
    .panel {

    }
}


// SCROLL TO BUY BUTTON BUTTON

.product-scroll-button{
    margin-top: 35px;
    width: 100%;
    background: #006C9B ;
    border-color: #006C9B ;
    text-align: center;
    @include large-up {
        width: 20%;
    }
}